<% content_for(:head) do %>
  <!-- basic meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index, follow" />

  <!-- title -->
  <title>LiveChains</title>

  <%= stylesheet_link_tag 'css_corpsite_user.css'   %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.6.custom.css'   %>

<%= render :partial => "shared/scripts" %>
<% end %>
  <!-- ########## end css ########## -->






<div id='wrap_all' class='stretched'>
<div class="wrapper" id='wrapper_head'>

	<div class="center">

		<div id="head">
                <% link_to  "/", :class => "ie6fix" do %>
                    <%= image_tag  "logoSSF.png", :alt => "Social Salesforce", :width => "308", :height => "44", :vspace => "20", :border => "0" %>
                 <% end  %>
          	  <!-- Navigation for Pages starts here -->
			<ul id="menu-main" class="nav"><li id="menu-item-111" class="menu-item menu-item-type-custom"><a href="http://www.kriesi.at/themes/avisio/"><strong>Home</strong><span>Starting the journey</span></a></li>
<li id="menu-item-119" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/a-little-about-you/"><strong>About</strong><span>What to expect</span></a>
<ul class="sub-menu">

	<li id="menu-item-113" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/a-little-about-you/html-styles/">HTML Styles</a></li>
	<li id="menu-item-115" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/a-little-about-you/basic-shortcodes/">Basic Shortcodes</a></li>
	<li id="menu-item-114" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/a-little-about-you/advanced-shortcodes/">Advanced Shortcodes</a></li>
	<li id="menu-item-112" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/a-little-about-you/fullwidth-page-with-columns/">Fullwidth &#038; Columns</a></li>
</ul>
</li>
<li id="menu-item-116" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/portfolio/"><strong>Portfolio</strong><span>Our best stuff </span></a>

<ul class="sub-menu">
	<li id="menu-item-162" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/portfolio/portfolio-1-column/">Portfolio 1 Column</a></li>
	<li id="menu-item-161" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/portfolio/portfolio-2-columns/">Portfolio 2 Columns</a></li>
	<li id="menu-item-160" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/portfolio/portfolio-3-columns/">Portfolio 3 Columns</a></li>
	<li id="menu-item-159" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/portfolio/portfolio-4-columns/">Portfolio 4 Columns</a></li>
	<li id="menu-item-158" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/portfolio/portfolio-4-columns-sortable/">Portfolio 4 Columns Sortable</a></li>
</ul>

</li>
<li id="menu-item-117" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/contact/"><strong>Contact</strong><span>Get in touch!</span></a></li>
<li id="menu-item-118" class="menu-item menu-item-type-post_type"><a href="http://www.kriesi.at/themes/avisio/blog/"><strong>Blog</strong><span> Latest storys</span></a></li>
</ul>
		<!--end head-->
		</div>

	<!-- end center-->
	</div>

<!--end wrapper-->
</div>

<div class="wrapper wrapper_shadow ie6fix" id='wrapper_featured_area'>
<div class='overlay_top ie6fix'></div>
<div class="center ie6fix">

		<!-- ###################################################################### -->
		<div class="feature_wrap">
		<!-- ###################################################################### -->

				<ul class='slideshow aviaslider'>
<li class='featured featured1'></li><!-- end .featured -->
<!-- end .featured -->
<span class='sliderdate'>Jun 19, 2010</span>
</span></a>
</li><!-- end .featured -->
<!-- end .featured -->
          </ul><!-- end .featured_inside -->

		<!-- ###################################################################### -->
		</div><!-- end featuredwrap -->
		<!-- ###################################################################### -->




	<!-- end center-->
	</div>
<!--end wrapper-->
</div>
<div class="wrapper fullwidth" id='wrapper_main'>

	<div class="center">

    <div id="main">

		<div class="frontpagetabs">

		  <div class='entry'>
				<h1 class='fptab fpactive_tab'><!--<a href="http://www.kriesi.at/themes/avisio/a-little-about-you/why-avisio/"> -->Why Social Salesforce?<!--</a>--></h1>
			  <div class='fptab_content tab1 fpactive_tab_content'>
				<div class="one_fourth "><h3>Flexibly Frontpage</h3>

<p><span class="dropcap2 ie6fix">1</span>Avisio uses a flexible frontpage that uses an amazing slideshow and can display any amount of tabed content, delivered by wordpress pages of your choice.</p>
<p><img class='noborder ie6fix' src="http://dl.dropbox.com/u/2025095/alwaysonline/avisio/iconsets1.png" alt="1" /></p>
</div>
<div class="one_fourth "><h3>Unlimited Skins</h3>
<p><span class="dropcap2 ie6fix">2</span>The theme comes with several predefined skin options but also utilizes a color and background image switcher, a font-switch for headings and several other layout options.</p>
<p><img class='noborder ie6fix' src="http://dl.dropbox.com/u/2025095/alwaysonline/avisio/iconsets2.png" alt="2" /></p>
</div>
<div class="one_fourth "><h3>Content Importing</h3>
<p><span class="dropcap2 ie6fix">3</span>You can now setup a wordpress installation that looks like this demo with just a single click of your mouse. Amazing to get started and accustomed to the theme.</p>

<p><img class='noborder ie6fix' src="http://dl.dropbox.com/u/2025095/alwaysonline/avisio/iconsets3.png" alt="3" /></p>
</div>
<div class="one_fourth last"><h3>Shortcodes</h3>
<p><span class="dropcap2 ie6fix">4</span>To get your content displayed properly the theme uses wordpress shortcodes. just add a few keywords and Avisio injects cool stuff like columns, tabs and slideshows.</p>
<p><img class='noborder ie6fix' src="http://dl.dropbox.com/u/2025095/alwaysonline/avisio/iconsets4.png" alt="4" /></p>
</div><span class="clearboth"></span>
			</div>
		    <!--end enty -->

		  </div>
		</div>

		<!--end main-->
	  </div>
		<div class="clearboth"></div>

	<!-- end center-->
	</div>
<!--end wrapper-->

</div>


<div class="wrapper footer ie6fix" id='wrapper_footer_top'>
<div class='overlay_top ie6fix'></div>
</div>




<div class="wrapper footer ie6fix" id='wrapper_footer_bottom'>
	<div id="footer_outside">

		<span class="copyright">
			&copy; Copyright 2010 - Social Sales Force- All rigths reserved - Terms of use - Legal disclaimer - Contact
		</span>

		<ul class="social_bookmarks">

				<li class='rss'><a class='ie6fix' href="http://www.kriesi.at/themes/avisio/feed/">RSS</a></li>
				<li class='facebook'><a class='ie6fix' href='http://facebook.com/pages/Kriesi/333648177216'>Facebook</a></li><li class='twitter'><a class='ie6fix' href='http://www.twitter.com/kriesi'>Twitter</a></li><li class='flickr'><a class='ie6fix' href='http://www.flickr.com/people/34166943@N05'>flickr</a></li>			</ul>

		<a href="#top" class='scrollTop'>top</a>
	<!--end footer_outside-->
	</div>




<!--end wrapper -->
</div>
<!--end wrapp_all -->
</div>
 