<% content_for :head do %>
  <title>¿Quiénes sómos? - Livechains</title>
<% end %>

<% content_for :header do %>
  <%= render :partial => "two_header" %>
<% end %>

<div id="main">
<div id="centralize">
<div id="leftbar">
  <ul>
    <li>Inicio</li>
    <li>¿Cómo funciona?</li>
    <li>Difusión social</li>
    <li>Esquema de negocio</li>
  </ul>
</div>
<div id="content"><h3>¿Qué hacemos?</h3><p>Live Chains® es un canal boca a boca de recomendación y promoción de productos y<br />
  servicios completamente gratis.</p>
  <p>Los integrantes de cada 'cadena viva´, se convertirán en generadores de opinión y<br />
    agentes de cambio al recomendar y proponer los productos o servicios de su interés a sus amigos,<br />
    conocidos y seguidores de FAcebook, Twitter, etc…</p>
  <p>A medida que tus contactos se van sumando a esta 'cadena viva' conocen acerca del<br />
    producto y/o servicio que tú les recomendaste, y al convertirse en promotores del mismo, tú<br />
    obtienes una recompensa. Si alguno de ellos además se interesa y adquiere dicho producto y/<br />
    o servicio, tu recompensa aumenta. Cuantos más amigos y conocidos se sumen a través de tus<br />
    recomendaciones, más recompensas obtienes.</p>
  <p>¡Luego puedes acceder a tus recompensas!</p>
</div>
</div>
</div>