<% content_for :header do %>
  <%= render :partial => "two_header" %>
<% end %>

<div id="main">
  <div id="centralize">
    <div id="leftbar">
      <ul>
        <li>Inicio</li>
        <li>¿Cómo funciona?</li>
        <li>Difusión social</li>
        <li>Esquema de negocio</li>
      </ul>
    </div>
    <div id="content"><h3>¿Qué es Live Chains?</h3><p>Live Chains® es un canal boca a boca (Word of Mouth) de difusión de campañas para tu grupo de contactos o referidos. Puedes difundir lo que desees a través de Live Chains, desde tu último CD, tu nuevo libro o una campaña para tu servicio de mensajería.  </p>
      <p>Los usuarios de Live Chains se convertirán en generadores de opinión al recomendar las campañas de su interés a su grupo de contactos vía e-mail, Facebook y Twitter.  </p>
      <p>Cuando un referido se encuentra con una campaña de su interés, la recomienda a su red de contactos. A medida que los contactos se van sumando a esta cadena y recomiendan dicha campaña, obtiene un incentivo. Si alguno de ellos además e ingresa a conocer más de tu campaña, sus incentivos aumentan. Cuantos más contactos y referidos se sumen a través de sus recomendaciones, más incentivos obtendrá.  </p>
      <p>Este sistema de recomendaciones boca a boca te ayudará a potenciar el mensaje de tu campaña y llegar a más personas. Con Live Chains contarás con una poderosa herramienta que te permitirá conocer el detalle de quienes están difundiendo tu campaña y ayudándote a hacerla exitosa. </p>
    </div>
  </div>
</div>