<table width="50%" border="0" align="center" cellpadding="15">
  <tr>
    <td bgcolor="#6D8EAD"><table width="600" border="0" align="center" cellpadding="5" cellspacing="0" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px">
      <tr>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td bgcolor="#CFCDB4"><a href="http://www.tipdem.com"><img src="http://tipdem.com/images/logo_lc.png" alt="Tipdem" border="0" /></a></td>
        <td align="center" bgcolor="#CFCDB4"><strong>Pago de recompensas</strong></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF"><p>Hola, <%= @user.username %>!</p>
          </td>
      </tr>
      <tr>
        <td height="50" colspan="2" align="left" valign="middle" bgcolor="#FFFFFF"><p>TipDem le abonó la suma de $<%= @payment.paid_money %> en concepto de ganancias. </p>
          <p>En el plazo de 72hs horas hábiles, se acreditará el dinero en la cuenta de DineroMail suscripta: <%= @payment.dinero_mail_email %> </p>
          <p>Muchas gracias y no dude en consultarnos por cualquier inconveniente a través de
            <%= link_to "Mis Solicitudes de Pago", payment_requests_url(:anchor => @payment.id) %>
</p></td>
      </tr>
      <tr>
        <td colspan="2" align="center" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td width="372" bgcolor="#FFFFFF" style="font-size:9px; color:#666"><p>Recuerde agregar esta dirección a sus contactos para evitar ser recibidos como spam.<br />
          Para consultas o dudas <a href="http://tipdem.com/welcome/contacto">haga clic aquí </a></p></td>
        <td width="108" bgcolor="#FFFFFF" style="font-size:9px; color:#666">Siguenos también en:<br />
          <a href="http://on.fb.me/tipdem"><img src="http://tipdem.com/images/fb16.png?1316127582" alt="Facebook" width="16" height="16" border="0" /></a> <a href="http://bit.ly/p0kwOs"><img src="http://tipdem.com/images/tw16.png?1316127582" alt="Twitter" width="16" height="16" border="0" /></a></td>
      </tr>
    </table></td>
  </tr>
</table>
