@charset "utf-8";
/* CSS Document */
 div.light_rounded .pp_top .pp_left{background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat;}div.light_rounded .pp_top .pp_middle{background:#fff;}div.light_rounded .pp_top .pp_right{background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat;}div.light_rounded .pp_content .ppt{color:#000;}div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right{background:#fff;}div.light_rounded .pp_content{background-color:#fff;}div.light_rounded .pp_next:hover{background: url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor: pointer;}div.light_rounded .pp_previous:hover{background: url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor: pointer;}div.light_rounded .pp_expand{background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor: pointer;}div.light_rounded .pp_expand:hover{background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor: pointer;}div.light_rounded .pp_contract{background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor: pointer;}div.light_rounded .pp_contract:hover{background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor: pointer;}div.light_rounded .pp_close{width:75px;height:22px;background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor: pointer;}div.light_rounded #pp_full_res .pp_inline{color:#000;}div.light_rounded .pp_arrow_previous{background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;}div.light_rounded .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default;}div.light_rounded .pp_arrow_next{background: url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat;}div.light_rounded .pp_arrow_next.disabled{background-position: -22px -87px;cursor:default;}div.light_rounded .pp_bottom .pp_left{background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat;}div.light_rounded .pp_bottom .pp_middle{background:#fff;}div.light_rounded .pp_bottom .pp_right{background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat;}div.light_rounded .pp_loaderIcon{background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat;}div.dark_rounded .pp_top .pp_left{background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat;}div.dark_rounded .pp_top .pp_middle{background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;}div.dark_rounded .pp_top .pp_right{background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat;}div.dark_rounded .pp_content_container .pp_left{background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y;}div.dark_rounded .pp_content_container .pp_right{background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y;}div.dark_rounded .pp_content{background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;}div.dark_rounded .pp_next:hover{background: url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor: pointer;}div.dark_rounded .pp_previous:hover{background: url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor: pointer;}div.dark_rounded .pp_expand{background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor: pointer;}div.dark_rounded .pp_expand:hover{background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor: pointer;}div.dark_rounded .pp_contract{background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor: pointer;}div.dark_rounded .pp_contract:hover{background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor: pointer;}div.dark_rounded .pp_close{width:75px;height:22px;background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor: pointer;}div.dark_rounded .currentTextHolder{color:#c4c4c4;}div.dark_rounded .pp_description{color:#fff;}div.dark_rounded #pp_full_res .pp_inline{color:#fff;}div.dark_rounded .pp_arrow_previous{background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;}div.dark_rounded .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default;}div.dark_rounded .pp_arrow_next{background: url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat;}div.dark_rounded .pp_arrow_next.disabled{background-position: -22px -87px;cursor:default;}div.dark_rounded .pp_bottom .pp_left{background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat;}div.dark_rounded .pp_bottom .pp_middle{background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;}div.dark_rounded .pp_bottom .pp_right{background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat;}div.dark_rounded .pp_loaderIcon{background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat;}div.dark_square .pp_left ,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background: url(../images/prettyPhoto/dark_square/contentPattern.png) top left repeat;}div.dark_square .currentTextHolder{color:#c4c4c4;}div.dark_square .pp_description{color:#fff;}div.dark_square .pp_loaderIcon{background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat;}div.dark_square .pp_content_container .pp_left{background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y;}div.dark_square .pp_content_container .pp_right{background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y;}div.dark_square .pp_expand{background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor: pointer;}div.dark_square .pp_expand:hover{background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor: pointer;}div.dark_square .pp_contract{background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor: pointer;}div.dark_square .pp_contract:hover{background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor: pointer;}div.dark_square .pp_close{width:75px;height:22px;background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor: pointer;}div.dark_square #pp_full_res .pp_inline{color:#fff;}div.dark_square .pp_arrow_previous{background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;}div.dark_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default;}div.dark_square .pp_arrow_next{background: url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat;}div.dark_square .pp_arrow_next.disabled{background-position: -22px -87px;cursor:default;}div.dark_square .pp_next:hover{background: url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor: pointer;}div.dark_square .pp_previous:hover{background: url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor: pointer;}div.light_square .pp_left ,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content{background:#fff;}div.light_square .pp_content .ppt{color:#000;}div.light_square .pp_expand{background: url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor: pointer;}div.light_square .pp_expand:hover{background: url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor: pointer;}div.light_square .pp_contract{background: url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor: pointer;}div.light_square .pp_contract:hover{background: url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor: pointer;}div.light_square .pp_close{width:75px;height:22px;background: url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor: pointer;}div.light_square #pp_full_res .pp_inline{color:#000;}div.light_square .pp_arrow_previous{background: url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;}div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default;}div.light_square .pp_arrow_next{background: url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat;}div.light_square .pp_arrow_next.disabled{background-position: -22px -87px;cursor:default;}div.light_square .pp_next:hover{background: url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor: pointer;}div.light_square .pp_previous:hover{background: url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor: pointer;}div.facebook .pp_top .pp_left{background: url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat;}div.facebook .pp_top .pp_middle{background: url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x;}div.facebook .pp_top .pp_right{background: url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat;}div.facebook .pp_content .ppt{color:#000;}div.facebook .pp_content_container .pp_left{background: url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y;}div.facebook .pp_content_container .pp_right{background: url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y;}div.facebook .pp_content{background:#fff;}div.facebook .pp_expand{background: url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor: pointer;}div.facebook .pp_expand:hover{background: url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor: pointer;}div.facebook .pp_contract{background: url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor: pointer;}div.facebook .pp_contract:hover{background: url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor: pointer;}div.facebook .pp_close{width:22px;height:22px;background: url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor: pointer;}div.facebook #pp_full_res .pp_inline{color:#000;}div.facebook .pp_loaderIcon{background: url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat;}div.facebook .pp_nav .pp_arrow_previous{background: url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px;}div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default;}div.facebook .pp_nav .pp_arrow_next{background: url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px;}div.facebook .pp_arrow_next.disabled{background-position: -32px -96px;cursor:default;}div.facebook .pp_nav{margin-top:0;}div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px;}div.facebook .pp_next:hover{background: url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor: pointer;}div.facebook .pp_previous:hover{background: url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor: pointer;}div.facebook .pp_bottom .pp_left{background: url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat;}div.facebook .pp_bottom .pp_middle{background: url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x;}div.facebook .pp_bottom .pp_right{background: url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat;}div.pp_pic_holder a:focus{outline:none;}div.pp_overlay{background:#000;display: none;left:0;position:absolute;top:0;width:100%;z-index:9500;}div.pp_pic_holder{display: none;position:absolute;width:100px;z-index:10000;}.pp_top{height:20px;position: relative;}* html .pp_top{padding:0 20px;}.pp_top .pp_left{height:20px;left:0;position:absolute;width:20px;}.pp_top .pp_middle{height:20px;left:20px;position:absolute;right:20px;}* html .pp_top .pp_middle{left:0;position: static;}.pp_top .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px;}.pp_content{height:40px;}.pp_content .ppt{left:auto;margin-bottom:5px;position: relative;top:auto;}.pp_fade{display: none;}.pp_content_container{position: relative;text-align: left;width:100%;}.pp_content_container .pp_left{padding-left:20px;}.pp_content_container .pp_right{padding-right:20px;}.pp_content_container .pp_details{margin:10px 0 2px 0;}.pp_description{display: none;margin:0 0 5px 0;}.pp_nav{clear: left;float: left;margin:3px 0 0 0;}.pp_nav p{float: left;margin:2px 4px;}.pp_nav a.pp_arrow_previous,.pp_nav a.pp_arrow_next{display:block;float: left;height:15px;margin-top:3px;overflow: hidden;text-indent: -10000px;width:14px;}.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000;}a.pp_next{background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float: right;height:100%;text-indent: -10000px;width:49%;}a.pp_previous{background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float: left;height:100%;text-indent: -10000px;width:49%;}a.pp_expand,a.pp_contract{cursor: pointer;display: none;height:20px;position:absolute;right:30px;text-indent: -10000px;top:10px;width:20px;z-index:20000;}a.pp_close{display:block;float: right;text-indent: -10000px;}.pp_bottom{height:20px;position: relative;}* html .pp_bottom{padding:0 20px;}.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px;}.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px;}* html .pp_bottom .pp_middle{left:0;position: static;}.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px;}.pp_loaderIcon{display:block;height:24px;left:50%;margin: -12px 0 0 -12px;position:absolute;top:50%;width:24px;}#pp_full_res{line-height:1 !important;}#pp_full_res .pp_inline{text-align: left;}#pp_full_res .pp_inline p{margin:0 0 15px 0;}div.ppt{color:#fff;display: none;font-size:17px;left:0;position:absolute;top:0;z-index:9999;}.clearfix:after{content: ".";display:block;height:0;clear:both;visibility: hidden;}.clearfix {display: inline-block;}* html .clearfix {height:1%;}.clearfix {display:block;}
/*	
Theme Name: Avisio
Description: <strong>A sleek Business Theme by Kriesi</strong> - <br/> Update notifications available on twitter and facebook:<br/> <a href='http://twitter.com/kriesi'>Follow me on twitter</a><br/> - <a href='http://www.facebook.com/pages/Kriesi/333648177216'>Join the Facebook Group</a>
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
*/



/*Small reset*/
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p,input,select,legend,textarea,fieldset{ margin:0; padding:0;}

/*
-) BASIC CONTAINERS
-) HEAD
-) FEATURED
-) FOOTER
-) SIDEBAR
-) CONTENT AREA
-) COMMENTS
-) GENERIC
-) SHORTCODES
*/

/************************************************************************
-) BASIC CONTAINERS
*************************************************************************/

body{
font-size:13px;
font-family: Arial, Helevtica, Verdana, san-serif;
line-height:23px;
position:relative;
}

.boxed{
position: relative;
margin:15px auto;
width:1000px;
}

.wrapper{ /*div for perfect centering of large scale background images*/
width:100%;
position:relative;
z-index: 1;
}

.center, .breadcrumb{ /*center content area */
position: relative;
margin:0 auto;
width:940px;
padding:0px 20px;
}

#head{ /*head area, which contains main menu and logo*/
z-index: 100;
position:relative;
}

#wrapper_featured_stripe{
z-index: 1;
height:135px;
}

#wrapper_stripe{
float: left;
height: auto;
z-index: 2;
padding:11px 0;
}

#wrapper_footer_top, #wrapper_footer_bottom{clear:both; width: 100%;  position: relative}


#wrapper_main{
padding-bottom:40px;
}

#main{ /*main area, contains all content and sidebars*/
float:left;
padding:35px 0 0 0;
position:relative;
width:100%;
}

.content{
position: relative;
float:left;
width:590px;
padding:0 45px 0 0;
}

.fullwidth .content{
width:100%;
padding:0;
margin:0;
background: transparent none;
}

.sidebar{
position: relative;
width:280px;
float:left;
padding:20px 0 40px 25px;
}

.fullwidth .sidebar{
display:none;
}

.entry{
position: relative;
overflow: hidden;
clear:both;
width:100%;
float: left;
}

/*column widths for fullwidth pages and reduced width pages*/

#top .wrapper .center .last{
margin-right:0px;
}

/*Reduced width: eg pages with sidebars*/
.one_fourth{overflow:hidden; float:left; position: relative; margin-right:35px; width:121px;}
.one_third{overflow:hidden; float:left; position: relative; margin-right:35px; width:173px; }
.one_half{overflow:hidden; float:left; position: relative; margin-right:35px; width:277px; }
.three_fourth{overflow:hidden; float:left; position: relative;  margin-right:35px; width:434px; }
.two_third{overflow:hidden; float:left; position: relative; margin-right:35px; width:382px; }
.footerColumn{overflow:hidden; float:left; position: relative; margin-right:35px; width:137px; font-size:11px;}
/*Fullwidth*/
.fullwidth .one_fourth{width:208px;}
.fullwidth .one_third{width:290px;}
.fullwidth .one_half{width: 452px;}
.fullwidth .three_fourth{width:697px;}
.fullwidth .two_third{width:615px;}

/************************************************************************
-) HEAD
*************************************************************************/

#wrapper_head{
position: relative;
z-index: 100;
overflow: visible;
}

#top .logo, .logo a{
display:block;
height:85px;
width:165px;
position:relative;
left:0px;
top:0px;
border: none;
padding: 0;
margin:0;
}

#top .logo a, #top .logo a:hover{
top:0;
left:0;
text-indent:-9999px;
outline:none;
border: none;
}

#top #head .logoimg, #top #head .logoimg a, #top #head .logoimg a img{
text-indent:0;
background-image: none;
border:none;
margin:0 0 -20px 0;
}

/*navigation*/

#top .nav{
height:50px;
line-height:30px;
padding-left:13px;
right:0px;
position:absolute;
z-index:100;
top:29px;
}

.nav, .nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:50px; 
z-index:5;
}

#top .nav a{
display:block;
float:left;
line-height:18px;
outline:medium none;
padding:2px 10px;
text-decoration:none;
width:95px;
min-height: 35px;
}

.nav li a strong {
display:block;
font-size:14px;
font-weight:normal;
}

.nav li a span {
display:block;
font-size:10px;
line-height:14px;
}


#top .nav li{
float:left;
position:relative;
z-index:20;
}

#top .nav li:first-child a{
border:none;
}

#top .nav ul {
display:none;
left:0;
position:absolute;
top:20px;
width:192px;
padding-top:30px;

}


#top .nav li ul a{
width:148px;
height:auto;
float:left;
text-align:left;
line-height:24px;
padding:4px 21px;
font-size: 12px;
min-height: 24px;
}

#top .nav ul ul{
top:auto;
padding-top: 0px !important;
}	

#top .nav li ul ul {
left:191px;
top:0px;
}

#top .nav li:hover ul ul, #top .nav li:hover ul ul ul,#top  .nav li:hover ul ul ul ul{
display:none;	
}
#top .nav li:hover ul, #top .nav li li:hover ul, #top .nav li li li:hover ul, #top .nav li li li li:hover ul{
display:block;
}


/************************************************************************
-) FEATURED
*************************************************************************/

/*The heights of the following 3 classes controll the slider height*/
.slideshow{ 
height:440px; 	/*this changes the height of the main image slider*/
width:940px;
overflow: hidden;
position: relative;
}

.featured, .fadeout {
height:440px;
}

.feature_excerpt{
max-height:400px;
padding:20px 30px 20px;
bottom:0;
display:none;
font-size:13px;
line-height:1.8em;
position:absolute;
width:250px;
z-index:3;
}

.feature_excerpt_pos_2{
left:0;
}

.feature_excerpt_pos_3{
right:0;
}

#top div .feature_excerpt .excerpt_button{
display:block;
font-size:24px;
height:auto;
margin-top:35px;
padding:18px 18px 16px;
text-align:center;
width:210px;
}

/***********/


.slideshow li, .slideshow .featured{
	display: block;
	width:100%;
	height:200px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	background-image: url(../images/banner.jpg);
}

.js_active .slideshow li, .js_active .slideshow .featured{
display:none;
}

#top .slideshow img, #top .slideshow a img, #top .slideshow a{
border:none;
text-decoration: none;
display: block;
}

#top .slideshow a{
height:100%;
width:100%;
display: block;
}

.slidecontrolls {
float:left;
margin:10px auto 0;
position:absolute;
right:0;
z-index: 100;
}

.slidecontrolls a{
height:20px;
width:14px;
display:block;
cursor: pointer;
float:left;
outline: none;
}


.feature_excerpt strong{
display: block;
font-size: 15px;
padding-bottom: 3px;
}


.feature_wrap {
padding:35px 0;
position:relative;
width:100%;
}

#feature_info {
position:relative;
}

#feature_info .text {
padding:0 0 20px;
width:680px;
}



.featured object{
z-index: 1;
position: relative;
}

.entry .slidecontrolls{
margin:0;
}



/*smaller slideshows in content area*/

#top .entry .feature_wrap {
padding: 6px 6px 35px;
position:relative;
width:auto;
}

#top .medium_sized_slider, #top .medium_sized_slider .featured{
width:576px;
height:260px;
position: relative;
overflow: hidden;
}




#top .entry .slidecontrolls {
bottom:-12px;
left:4px;
position:relative !important;
z-index:10;
top:auto;
}

.featured_inside {
overflow:hidden;
position:relative;
width:940px;
}

/*-------------------*/

/*defaults*/

.feature_wrap{
position: relative;
}

.slidercontent{
padding-top:15px;
display: block;
}

#top a .feature_excerpt{
cursor: pointer;
}


#top .sliderheading{
display:block;
font-size: 26px;
font-weight: normal;
}

.sliderdate{
display:none;
}

#top .featured_inside a, #top .featured_inside a img, #top .featured_inside img, #top .featured_inside object{
text-decoration: none;
border:none;
outline: none;
padding: 0;
}

.featured_inside a:hover{
text-decoration: none;
}

.overlay_top, .overlay_bottom{
position: absolute;
height:5px;
line-height: 1px;
font-size: 1px;
width:100%;
top:0;
left:0;
background-repeat: repeat-x;
background-position: bottom left;
}

div .overlay_bottom{
bottom:0;
top:auto;
background-position: top left;
}

#top .featured_inside .rel_pos{
position: relative;
}

.wrapper_heading{
padding:29px 0 37px;
min-height:50px;
}

.wrapper_heading h2{
font-size: 34px;
padding:0;
margin:0 0 0 5px;
}

.wrapper_heading .overlay_bottom{
height:auto;
padding: 3px 0 2px 0;
}

.breadcrumb{
font-size: 10px;
line-height: 22px;
}

.breadcrumb span, .breadcrumb a{
float:left;
display:block;
padding:1px 1px 0 0;
}

.breadcrumb .arrow{
text-indent: -9999px;
padding:0 14px 0 0;
margin:1px 0 0;
}

.breadcrumb_info{
width:25px;
text-indent: -9999px;
}

/*slideshow thumbnails*/
.slideshowThumbs{
float: left;
position: absolute;
top:25px;
left:16px;
}

.slideThumb{
float: left;
display: block;
list-style-type: none;
padding:15px 10px;
position: relative;
margin-left:-6px;
}

.slideThumWrap, .slideThumWrap img{
display: block;
height:50px;
width:70px;
overflow: hidden;
position: relative;
outline: none;
}

.slideThumWrap span{
display: block;
height:44px;
width:64px;
overflow: hidden;
position: absolute;
z-index: 10;
}

.slideThumWrap img, .slideThumWrap:hover img{
border:none;
}
#top .slideThumbTitle{
display:none;
padding-bottom:12px;
position: absolute;
left:-35px;
width:160px;
bottom: 80px;
}

#top .slideThumbHeading{
position: relative;
font-size: 11px;
font-weight: normal;
background: #000;
color:#fff;
width:140px;
padding:5px 10px;
display: block;
}

.slideThumbTitle strong{
font-weight: normal;
}


.slideWelcome{
width:400px;
height:100px;
position: relative;
background: #fff;
margin: 172px auto 0 auto;
display: block;
}

#top .slideshow .slideWelcome a
{
	display: inline;
	width:auto;
	height:auto;
}

/*call to action button*/

#top .big_button {
float:none;
left:auto;
position:absolute;
right:3px;
top:22px;
}

.big_button, .big_button strong, .big_button:hover {
cursor:pointer;
display:block;
float:left;
height:90px;
line-height:90px;
outline:medium none;
text-decoration:none;
font-weight: normal;
z-index: 2;
}

.big_button strong {
font-size:20px;
margin:0 0 0 33px !important;
margin:1px 0 0 16px;
padding:0 113px 0 18px;
z-index: 2;
position: relative;
}

.buttonBg{
height:40px;
position:absolute;
right:28px;
top:22px;
width:40px;
z-index:1;
}


/*Tabs - mainpage and content*/

.js_active .tab_content, .js_active .fptab_content{
display:none;
}


#top .active_tab_content, #top .fpactive_tab_content{
display:block;
}

#top .frontpagetabs{
overflow: visible;
}

#top .fptab{
padding-top: 0;
}

.frontpagetabs .transformed_tab, .more-link{
position: relative;
display: block;
float: left;
padding:0px 13px;
margin:0 5px 10px 0;
top:-20px;
cursor:pointer;
font-size: 11px;
-moz-border-radius: 15px;
-webkit-border-radius:15px;
border-radius:15px;
line-height: 26px;
}

#top .more-link{
float:none;
height:27px;
margin:7px 5px 10px 0;
padding:2px 13px 0;
text-align:center;
top:0;
width:75px;
clear:both;
}

/************************************************************************
-) FOOTER
*************************************************************************/

#footer_inside{
clear:both;
padding:35px 0;
overflow:hidden;
}

#footer_outside{
font-size:11px;
line-height:16px;
margin:0 auto;
overflow:hidden;
padding:15px 0 18px;
position:relative;
width:940px;
}

.copyright{
float:left;
padding-left:3px;
}

.social_bookmarks{
border:medium none;
display:block;
float:right;
list-style-type: none;
list-style-position: outside;
}

.social_bookmarks li {
float:left;
margin:0 7px 0 0;
width:16px;
}

.social_bookmarks li a {
border:medium none;
display:block;
float:left;
height:16px;
padding:0;
text-indent:-9999px;
width:16px;
outline: none;
}


#top .footer .column4{
width:424px;
font-size: 11px;
line-height: 19px;
}

#top .footer .column4 h4{
font-size: 20px;
}

.footer .entry a:hover img{
padding:3px;
}
/************************************************************************
-) SIDEBAR
*************************************************************************/
.widget{
clear: both;
padding-bottom:35px;
}

#top .sidebar .box{
float:none;
margin:0;
width:100%;
overflow: hidden;
}

.sidebar li {
list-style-type:none;
}
/*sidebar nesting and hiding of indent lists*/
.sidebar .widget_recent_entries a, .sidebar .widget_categories a, .sidebar .widget_pages a, .sidebar .widget_meta a, .sidebar .widget_archive a , .sidebar .widget_nav_menu a, .sidebar .widget_links a{
display:block;
line-height:22px;
padding:3px 10px;
border-bottom-style: solid;
border-bottom-width: 1px;
}

.sidebar .widget_recent_entries li, .sidebar .widget_categories li, .sidebar .widget_pages li, .sidebar .widget_meta li, .sidebar .widget_archive li , .sidebar .widget_links li{
width:50%;
float:left;
}


.sidebar .box ul ul a{
padding:3px 10px 3px 25px;
}
.sidebar .box ul ul ul a{
padding:3px 10px 3px 40px;
}
.sidebar .box ul ul ul ul a{
padding:3px 10px 3px 55px;
}
.sidebar .box ul ul ul ul ul a{
padding:3px 10px 3px 70px;
}
.sidebar .box ul ul ul ul ul ul a{
padding:3px 10px 3px 85px;
}
.sidebar .box ul ul ul ul ul ul ul a{
padding:3px 10px 3px 100px;
}
.sidebar .box ul ul ul ul ul ul ul ul a{
padding:3px 10px 3px 115px;
}
.sidebar .box ul ul ul ul ul ul ul ul ul a{
padding:3px 10px 3px 130px;
}
.sidebar .box ul ul ul ul ul ul ul ul ul ul a{
padding:3px 10px 3px 145px;
}

.sidebarmenu .current{
font-weight: bold;
}

.sidebarmenu ul ul, .sidebarmenu .currentli_item ul ul, .sidebarmenu .parentli_item .li_item ul{
display:none;
}

.sidebarmenu .currentli_item ul, .sidebarmenu .parentli_item ul{
display: block;
}

.sidebar .sidebar_bottom {
bottom:-1px;
top:auto;
}


.sidebar_top, .sidebar_bottom {
display:block;
height:115px;
left:0;
position:absolute;
top:0;
width:100%;
z-index:1;
}
.sidebar div {
position:relative;
z-index:2;
}

#top .sidebar .entry h4, #top  .sidebar .entry h3, #top .sidebar .entry a, #top .sidebar table a{
border:none;
background: none;
padding:0;
margin:0;
}

#top .sidebar .box_entry{
margin:10px 0;
padding:0 0 18px;
}

.sidebar .box_entry a img{
margin:11px 10px 0 0;
}

/*--------------------calendar--------------------*/
#wp-calendar a, #wp-calendar a:visited {
display:block;
text-decoration:none;
padding:0;
border:none;
width:auto;
}

#wp-calendar a:hover{
display:block;
}

#wp-calendar {
empty-cells: show;
width:100%;
text-align:center;

}

#wp-calendar #next a,#wp-calendar #prev a {
text-decoration:none;
display:block;
background: none;
border:none;
}
#wp-calendar #next a:hover,#wp-calendar #prev a:hover {
}

#wp-calendar caption {
margin-bottom:5px;
}

/************************************************************************
CONTENT AREA
*************************************************************************/

/*pagination*/

#top .pagination {
clear:both;
padding:0 0 60px 0;
position:relative;
z-index:3;
}

#top .pagination span, #top .pagination a {
display:block;
float:left;
font-size:11px;
line-height:13px;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
}


#top .pagination .current{
font-size:11px;
padding:6px 9px 5px 9px;
}

#top .entry-head{
font-size: 10px;
border-left:none;
border-right:none;
padding:2px 0;
overflow: hidden;
}

.entry-head span{
float:left;
}

.entry-head .limit{
padding:0 7px;
}

.entry-head .comments{
float:right;
}

.archiveentry .imagewrap{
float:left;
}

.archiveentry .withImage{
float:left;
width:400px;
width:347px;
}

.archiveentry .contentwrap{

}


/*PORTFOLIO*/

#top .portfolio_entry {
position:static;
}

.portfolio_entry .sortable{
padding-bottom: 40px;
}

.entry_full_size{
clear:both;
padding-bottom: 54px;
}

.portfolio_entry .full_size .framed{
float: left;
}


.portfolio_entry .full_size .portfolio_content{
float:left;
padding:0 0 0 35px;
width:315px;
}

.entry_full_size h3{
font-size: 38px;
}

#top .entry_one_fourth h3{
font-size: 25px;
padding: 0;
}

/*portfolio sort buttons*/


#js_sort_items{
position:relative;
top:18px;
visibility:hidden;
width:100%;
float: left;
}

#js_sort_items  div{
display: block;
float: left;
font-size: 11px;
line-height: 24px;
}

#js_sort_items span{
display: block;
float: left;
margin-right:4px;
}

#js_sort_items a{
display: block;
float: left;
padding:0px 14px;
margin-right:10px;
outline: none;
}

.sort_by_val{
padding-left:20px;
}


/************************************************************************
COMMENTS
*************************************************************************/
#top .commentlist{
float:left;
width:100%;
padding: 0 0 30px 0;
border:none;
}

#top .commentlist .comment{
list-style-type: none;
list-style-position: outside;
width:100%;
position: relative;
display: block;
float: left;
padding: 10px 0 0 0;
margin: 10px 0 0 0;
border:none;
background: none;
}

#top .commentlist ul{
border:none;
}

.gravatar{
float:left;
width:72px;
padding-right:20px;
font-size: 11px;
text-decoration: none;
text-align: center;
position: relative;
}

.comment_content{
float:right;
padding:18px 18px 30px;
position:relative;
width:460px;
}

.children .children .comment_content{
width:415px;
}

.children .children .children .comment_content{
width:370px;
}

.children .children .children .children .comment_content{
width:325px;
}

.children .children .children .children .children .comment_content{
width:280px;
}

.author_name, .author_name a, .author_name a:hover{
font-size: 16px;
font-weight: bold;
text-decoration: none;
font-style: normal;
float:left;
}

.commentmetadata {
float:left;
font-size:11px;
line-height:26px;
padding-left:12px;
}

.says{
position: absolute;
left:-13px;
top:18px;
display: block;
height:24px;
width:13px;
text-indent: -9999px;
}

.comment_text{
clear: both;
font-size: 12px;
}

.comment-edit-link{
font-size:11px;
display: inline-block;
padding-left:20px;
}

#top .comment-reply-link{
font-size: 11px;
text-decoration: none;
position: absolute;
display: block;
padding:0px 7px;
bottom: 0;
left:0;
}

/*comment children*/

.children .gravatar {
padding:0;
position:absolute;
right:20px;
top:0;
width:42px;
z-index:2;
}

.children .gravatar img{
width:30px;
height:30px;
}

.children .says{
display:none;
}

#cancel-comment-reply-link{
display:inline-block;
font-size:11px;
padding:0 0 0 18px;
text-decoration:none;
}

/*input fields*/

.personal_data p{
float:left;
width:33%;
}

.personal_data label{
display:none;
}

.message_data textarea{
width:95%;
padding:10px;
font-size:12px;
font-family: Arial, Helevtica, Verdana, san-serif;
}

.text_input, .button{
padding:7px;
font-size:12px;
font-family: Arial, Helevtica, Verdana, san-serif;
}

.button{
padding:7px 12px;
cursor: pointer;
}


.personal_data .text_input{
width:91%;
}


.children .personal_data .text_input{

}

/************************************************************************
-) GENERIC
*************************************************************************/

.lightbox_video, .lightbox_image{
position: absolute;
z-index: 1;
top:0;
left:0;
}

a img, a:hover img{
z-index: 2;
position: relative;
border: 1px solid;
}

.entry img{
padding:4px;
display:block;
border:1px solid;
}

.fullwidth .entry img{
max-width: 930px;
}

a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, legend, .sliderheading {
font-weight:normal;
letter-spacing:0.4px;
line-height:1.4em;
padding:0px 1px;
margin:0;
position:relative;
font-family: Tahoma, Tahoma, Helvetica;
}


h1{clear:both; font-size:42px; font-weight:normal;}
h2{font-size:38px; clear:both; font-weight:normal;}
h3, legend{font-size:28px; clear:both;}
h4{font-size:24px; clear:both;}
h5{font-size:22px; clear:both;}
h6{font-size:18px; clear:both;}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6{
padding-top:15px;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{text-decoration: none;}

p{ padding: 0.5em 0;}

#main ul,#main  ol {
margin-bottom:10px;
}

.pullquote_right {
float:right;
margin:2% 0 2% 4%;
padding:0 0 0 70px;
width:40%;
}

.pullquote_left {
float:left;
margin:2% 4% 2% 0;
padding:0 0 0 70px;
width:40%;
}

blockquote {
font-family:Georgia,"Times New Roman",Times,serif;
clear:both;
font-size:1.2em;
font-style:italic;
line-height:1.6em;
margin:0 0 22px 0;
padding:0 0 0 70px;
min-height:60px;
}

.floatleft{
float:left;
}

.floatright{
float:right;
}

.clearboth{
clear:both;
}

body .alignleft{
float:left;
margin:5px 10px 0px 0;
display: block;
}

body .alignright{
float:right;
margin:5px 0px 0px 10px;
display: block;
}

body .aligncenter{
clear:both;
display:block;
margin:10px auto;
padding: 10px 0;
}

.alignleft img, .alignright img{
display:block;
} 


.rounded, .excerpt_button{
-moz-border-radius: 5px;
-webkit-border-radius:5px;
border-radius:5px;
}

.rounded_small, .button, .categories, .comments, .entry-head a, .more-link, #top .portfolio_item h3 a, #top .pagination span, #top .pagination a, #top .pagination .current, #js_sort_items a, #top .entry .feature_wrap{
-moz-border-radius: 2px;
-webkit-border-radius:2px;
border-radius:2px;
}

#top .noborder, #top .noborder img{
border:none;
padding:0;
background: transparent;
}

.scrollTop{
float:right;
display: block;
padding: 0px 10px;
outline: none;
}

.js_active .portfolio img{
visibility: hidden;
}

#top div .hidden{
display:none;
}

#top .wp-caption {
margin:5px 15px 10px 0;
border:1px solid;
}

#top .wp-caption img {
border:medium none;
display:block;
margin:0 auto;
padding-top:5px;
}

.wp-caption-text {
display:block;
font-size:11px;
font-style:italic;
margin:0 auto;
padding:3px 0 5px;
text-align:center;
width:95%;
}

.entry ul li {
list-style-type:none;
padding:3px 0px 3px 10px;
}

.entry ol li{
list-style-type: decimal;
list-style-position: inside;
padding:3px 0px 3px 0;
}

pre{
padding:20px;
margin:15px 0;
font-family: "Andale Mono", "Courier New", Courier, Monaco, monospace;
}

.dropcap1{
display:block;
float:left;
font-size:40px;
line-height:40px;
margin:4px 8px 0 0;
}

.dropcap2{
display:block;
float:left;
font-size:24px;
line-height:40px;
width:40px;
text-align: center;
margin:4px 8px 0 0;
-moz-border-radius: 25px;
-webkit-border-radius:25px;
border-radius:25px;
}

.dropcap3{
display:block;
float:left;
font-size:25px;
line-height:38px;
padding-top: 2px;
width:40px;
text-align: center;
margin:4px 8px 0 0;
}


.hr{
padding:38px 0;
position: relative;
clear: both;
display:block;
}

.hr a{
position: absolute;
right:0;
top:25px;
padding-right:0;
font-size: 11px;
}

.hrTitle{
padding-top:80px;
}

.hrTitleWrap {
display:block;
font-size:50px;
height:34px;
left:0;
line-height:38px;
overflow:hidden;
position:absolute;
top:54px;
width:100%;
text-align: center;
}


/*lightbox*/

#top .pp_nav p {
margin:0px 4px;
font-size: 11px;
padding: 0;
line-height: 18px;
}

.preloading{
display: block;
}

/*Tables*/
.entry table {
	width: 100%;
	padding: 0;
	margin: 0;
}

.entry caption {
	padding: 0 0 5px 0;
	width: auto;	 
	font: italic 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

.entry th {
	font: bold 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #555;
}

.entry th.nobg {
	border-top: 0;
	border-left: 0;
	background: none;
}

.entry td {
	padding: 6px 6px 6px 12px;
}

.entry th.spec {
	border-top: 0;
	font: bold 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.entry th.specalt {
	border-top: 0;
	font: bold 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/*IMAGES - especially portfolio*/

#top .framed img{
padding:6px;
}

.framed, .framed span, .framed img{
display: block;
}

.framed{
padding-bottom:20px;
position: relative;
z-index: 2;

}

.framed_full_size{
width:590px;
}

/************************************************************************
-) FORM ELEMENTS
*************************************************************************/
.fieldset{
border:none;
padding: 0;
margin:0;
}

.text_input, textarea, select{
border-width: 1px;
border-style: solid;
font-family: Arial, Helevtica, Verdana, san-serif;
font-size: 12px;
}

/*searchform*/
#searchform{

position: relative;
}

#searchsubmit{

}

#s{
width:113px;
position: relative;
}

.sidebar #s{
width:180px;
}

/*Contact Form*/
fieldset{
border:none;
}

.ajax_form .text_area{
padding:10px;
width:500px;
}

.ajax_form .text_input{
width:250px;
margin-right:10px;
}

.ajax_form h3{
border:none;
}

.ajax_form p{
padding: 0 0 10px 0;
}

.ajax_form label{
font-size: 11px;
font-weight: bold;
}

.username{ /*used to check if a bot is filling in the form fields, a normal user wont ever see the input field*/
display:none;
}

#top .wp-smiley{
border:none;
padding:0 !important;
background: none;
display: inline !important;
}


/*widgets*/

.widget{
list-style-position: outside;
list-style-type: none;
}

.widget_recent_entries a, .widget_categories a, .widget_pages a, .widget_meta a, .widget_archive a , .widget_nav_menu a, .widget_links a, .recentcomments{
display:block;
line-height:22px;
padding:3px 10px;
border-bottom-style: solid;
border-bottom-width: 1px;
font-size: 11px;
}

/************************************************************************
Shortcodes
*************************************************************************/


/*shortcode toggle*/

.js_active .toggle{
display:none;
}

#top .activetoggle{
display:block;
}

.js_active .toggler{
cursor:pointer;
margin:-1px 0;
padding:3px 3px 5px 27px;
display: block;
}

.toggle_content{
padding:0 2px 0 31px;
}

.js_active .entry .tab_content{
display: none;
clear: both;
padding: 15px;
overflow:auto;
}

.js_active .entry .tab{
cursor:pointer;
margin:0 2px 0 0;
padding:3px 10px 5px;
display: block;
float: left;
border-bottom: none;
z-index: 2;
position: relative;
top:2px;
}

.js_active #top .entry .active_tab{
z-index: 4;
position: relative;
border-bottom: none;
}

.js_active #top .entry .active_tab_content{
display: block;
z-index: 3;
position: relative;
overflow:auto;
}

/*important to change the whole color scheme*/
body, .dropcap2, .dropcap3, .dynamicBg, .button, #top .pagination a:hover{
background:#fff; 
}

a{
color:#818ea1
}

a:hover{
color:#98adcb; text-decoration:underline;
}

/*if you have choosen a dark color above fonts below need to be light and vice versa*/
.footer, #top .footer a:hover, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .dropcap2, .dropcap3, .wrapper_heading h2, .button, #js_sort_items span, #top .pagination a:hover{
color:#666;

}

.footer a, #top .footer a:hover{
color:#818ea1;
}

/**************************/


body{
color:#aaa;
}

.boxed{ 
/* if you want to apply a background color to a boxed layout you can use this class*/
-moz-box-shadow:0 0 16px #000000;
-webkit-box-shadow:0 0 16px #000000;
box-shadow:0 0 16px #000000;
}

#wrapper_head{
background: #fff url("../images/bg_gradiant_stripe.png") repeat-x 0 0;
border-bottom: 1px solid #2a313b;
}

#wrapper_stripe{
background: #fff url("../images/bg_gradiant_stripe.png") repeat-x 0 0;
border-bottom: 1px solid #2a313b;
}

#wrapper_featured_stripe{
background: #fff url("../images/bg_gradiant_stripe.png") repeat-x 0 0;
border-bottom: 1px solid #111;
}

#wrapper_main{
background: #1c1e23 url("../images/bg_gradiant_body.png") repeat-x 0 0;
border-top: 1px solid #2a313b;}


#wrapper_footer_bottom{
background: #2a313b;
}


.logobg a{
background: transparent url("../images/skin3/logo.png") no-repeat 0 0;
}

.wrapper_shadow .center{
background: transparent url("../images/skin3/bg_shadow.png") no-repeat center center;
}

#wrapper_featured_area, #wrapper_footer_top{
/*background: transparent url("../images/skin3/bg_grain.png") repeat-x bottom center;*/
}


/************************************************************************
NAV
*************************************************************************/

.nav li a {
border-left:1px solid #2a313b;
color:#fff;
}


#top #head .nav ul li a {
border:1px solid #2a313b;
border-bottom: none;
color:#888;
background: url("../images/bg_gradiant_stripe.png") 0px -20px #fff;
}

#top #head .nav ul li a:hover{
color:#fff;
background: #2a313b;
}

#top .nav ul{
background: url("../images/skin3/arrow_up.png") 10px 22px transparent no-repeat !important; /*ie6fix*/
background: none;
border-bottom:1px solid #2a313b;
}

#top .nav .current-menu-item a strong {
color:#FFFFFF;
font-weight:bold;
}

.overlay_top, .overlay_bottom{
/* background-image: url("../images/skin3/overlay.png"); */
}
/************************************************************************
FEATURED
*************************************************************************/
.slideshow{
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: 0 0;
	height: 200px;
}

.slideThumb{
background: transparent url("../images/thumb_shadow.png") repeat-x bottom center;
}

.slideThumWrap{
border:1px solid #555;
}

.slideThumWrap span{
border-width: 3px;
border-color: #2a313b;
border-style: solid;
}

.slideThumbTitle{
background:url("../images/skin3/arrow_down.png") no-repeat scroll bottom center transparent;

}

#top .slideThumbHeading{
background: #000;
color:#fff;
}

#top .slidecontrolls a{ 
background:transparent url(../images/skin3/slide_controlls.png) no-repeat  -28px top; 
}

#top .slidecontrolls .active_item, #top .slidecontrolls a:hover{
background:transparent url(../images/skin3/slide_controlls.png) no-repeat 2px top ;
}

.feature_excerpt, .sliderheading{
background: #000;
color:#fff;
}

#top div .feature_excerpt .excerpt_button{
background: #fff url("../images/bg_gradiant_stripe.png") repeat-x -1px -1px;
border:1px solid #FFFFFF;
color:#fff
}

#top div .feature_excerpt .excerpt_button:hover{
background: #fff;
color:#444;
}

/*featured heading*/
.breadcrumb .arrow{
background:url("../images/skin3/bullet.png") no-repeat scroll center center transparent;
}

.breadcrumb_info{
background:url("../images/skin3/home.png") no-repeat scroll  0 0 transparent;
}

.breadcrumb{
color:#999;
}

.breadcrumb a{
color:#999;
}


.breadcrumb a:hover{
color:#777;
text-decoration: underline;
}

/*call to action button*/


.big_button {
background:url("../images/skin3/button.png") no-repeat scroll left 0 transparent;
}

.big_button strong {
background:url("../images/skin3/button.png") no-repeat scroll right -90px transparent;
color:#fff;
text-shadow: -1px -1px 1px #222;
}

.big_button:hover{
background:url("../images/skin3/button.png") no-repeat scroll left -180px transparent !important;
background:url("../images/skin3/button.png") no-repeat scroll left 0px transparent;
}

.big_button:hover strong {
background:url("../images/skin3/button.png") no-repeat scroll right -270px transparent !important;
background:url("../images/skin3/button.png") no-repeat scroll right 0px transparent;
color:#999;
}


/************************************************************************
content area
*************************************************************************/

/*mainpage tabs*/
.frontpagetabs .transformed_tab{
background:none repeat scroll 0 0 #1C1E23;
border:1px solid #2A313B;
color:#888888;
}

.frontpagetabs .transformed_tab.fpactive_tab, .more-link{
border:1px solid #2A313B;
background:url("../images/skin3/button.png") repeat-x scroll -37px -105px #FFFFFF;
text-shadow: -1px -1px 1px #2A313B;
color:#fff;
}

#top .more-link:hover{
background:#f8f8f8;
color:#444;
border:1px solid #aaa;
text-decoration: none;
}

.entry_full_size{
background:url("../images/skin3/hr.png") repeat-x scroll center bottom transparent;
}

.entry-head{
border:1px solid #2A313B;
}

#top .contentwrap .siteheading{
padding-top:0;
font-size: 28px;
}

.sortable{
background: #1C1E23;
}

/************************************************************************
generic
*************************************************************************/

h1, h1 a{ color:#eee; }
h2, h2 a, #top .siteheading, #top .siteheading a{ color:#aaa; }
h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, strong{ color:#aaa; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
color:#fff;
}

input, textarea, select{ color:#777; }
.text_input, textarea, select { border-color: #2a313b; }


.entry img, .wp-caption{
background: #fff;
}

blockquote {
background: transparent url('../images/skin3/quotes.png') no-repeat top left; 
}

.entry ul, .entry ol{
border-top:1px solid #D6D6D6;
color:#555;
}

.entry ul li {
background:url("../images/skin3/bullet_list.png") no-repeat scroll 0 12px transparent;
border-bottom:1px solid #D6D6D6;
}

.entry ol li {
border-bottom:1px solid #D6D6D6;
}

pre{
border:1px solid #e1e1e1;
background: #fff;
}

/*pagination*/

#top .pagination span, #top .pagination a{
color:#555;
background: #fff;
border:1px solid #e1e1e1;
}

#top .pagination .current{
background: #f7f7f7;
color:#333;
border:1px solid #e1e1e1;
}

#top .pagination a:hover{
border:1px solid #fff;
}

/*table*/


th {
	color: #fff;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	background: #555;
}

th.nobg {
	border-right: 1px solid #e1e1e1;
	color:#555;
}

td {
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background: #fff;
	color: #777;
}


td.alt {
	background: #eee;
	color: #777;
}

th.spec {
	border-left: 1px solid #e1e1e1;
	background: #fff;
	color:#777;
}

th.specalt {
	border-left: 1px solid #e1e1e1;
	background: #eee;
	color: #777;
}


.dropcap1{
text-shadow:1px 1px 0 #fff;
}

.hr { 
background: url("../images/skin3/hr_small.png") no-repeat scroll center center  transparent;  
}

.hrTitle { 
background: url("../images/skin3/hr_small.png") no-repeat scroll center 55px  transparent;  
}



.fullwidth .hr { 
background: url("../images/skin3/hr.png") no-repeat scroll center center  transparent;  
}

.fullwidth .hrTitle { 
background: url("../images/skin3/hr.png") no-repeat scroll center 55px  transparent;  
}

.hr a{
color:#aaa;
}

.hrTitleWrap{
color:#dedede;
}

#top .lightbox_video{
background:transparent url(../images/skin3/img_overlay_video.png) no-repeat center center;
}

#top .lightbox_image{
background:transparent url(../images/skin3/img_overlay_img.png) no-repeat  center center;
}

/************************************************************************
SIDEBAR
*************************************************************************/
.sidebar{
background: transparent url(../images/skin3/sidebar.png) 0 0 repeat-y;
}

.sidebar_bottom {
background:url("../images/skin3/sidebar_bottom.png") no-repeat scroll left bottom transparent;
}

.sidebar_top {
background:url("../images/skin3/sidebar_top.png") no-repeat scroll left top transparent;
}

.sidebar h3, .sidebar .box_entry{
border-bottom:1px solid #2A313B;
}



.widget_recent_entries a, .widget_categories a, .widget_pages a, .widget_meta a, .widget_archive a , .widget_nav_menu a, .widget_links a, .recentcomments{
border-bottom-color: #2A313B;
color: #888;
text-decoration: none;
background:url("../images/skin3/bullet_list.png") no-repeat scroll 1px 11px transparent;
}

.widget_recent_entries a:hover, .widget_categories a:hover, .widget_pages a:hover, .widget_meta a:hover, .widget_archive a:hover, .widget_nav_menu a:hover, .widget_links a:hover{
color: #444;
background:url("../images/skin3/bullet_list.png") no-repeat scroll 1px 11px #f8f8f8;}

/************************************************************************
FOOTER
*************************************************************************/


.social_bookmarks .rss a{background: transparent url(../images/icons/rss_16.png) 0 0  no-repeat;}
.social_bookmarks .facebook a{background: transparent url(../images/icons/facebook_16.png) 0 0  no-repeat;}
.social_bookmarks .twitter a{background: transparent url(../images/icons/twitter_16.png) 0 0  no-repeat;}
.social_bookmarks .flickr a{background: transparent url(../images/icons/flickr_16.png) 0 0  no-repeat;}


.footer .entry a:hover img{
padding:3px;
border:1px solid #2A313B;
}

.footer .entry img{
background:#ccc;
border:none;
}

.footer .widgettitle{
border-bottom:1px solid #2A313B;

}

/*widgets*/


.footer .widget_recent_entries a,.footer .widget_categories a, .footer .widget_pages a, .footer .widget_meta a, .footer .widget_archive a , .footer .widget_nav_menu a, .footer .widget_links a{
border-bottom-color: #aaa;
color: #666;
text-decoration: none;
background:url("../images/skin3/bullet.png") no-repeat scroll 1px 11px transparent;
}

/************************************************************************
COMMENTS
*************************************************************************/

.comment_content{
border:1px solid #e5e5e5;
background: #fff;
}

.author_name a{
color:#555;
}

.commentmetadata a{
color:#aaa;
}

.says{
background:transparent url(../images/skin3/say.png) no-repeat scroll 0 0;
}

.comment-reply-link{
border-top:1px solid #e5e5e5;
border-right:1px solid #e5e5e5;
color:#555;
}



.button {
border:medium none;
}

.button:hover{
background: #333;
}

#js_sort_items a{
color:#555;
background: url("../images/skin3/bg_gradiant_image.png") repeat-x scroll bottom left #FFFFFF;
}



#js_sort_items a:hover, #js_sort_items .active_sort{
color:#fff;
background: transparent url("../images/skin3/overlay.png") -10px -10px repeat-x;
text-decoration: none;
}

/*IMAGES - especially portfolio*/

a img, a:hover img, .entry img, #top .wp-caption{
border-color:#ccc;

}

.framed span{
border:1px solid #e1e1e1;
background: url("../images/skin3/bg_gradiant_image.png") repeat-x scroll bottom left #FFFFFF;
}

#top .framed img{
border:1px solid #fff;
background: none;
}

.framed_one_fourth{
background: #fff url("../images/skin3/framed_one_fourth.png") repeat-x bottom center;
}

.framed_one_third{
background: #fff url("../images/skin3/framed_one_third.png") repeat-x bottom center;
}

.framed_one_half{
background: #fff url("../images/skin3/framed_one_half.png") repeat-x bottom center;
}

.framed_full_size{
background: #fff url("../images/skin3/framed_full_size.png") repeat-x bottom center;
}

.preloading, .featured{
background: transparent url(../images/skin3/preload.gif) no-repeat 50% 50%;
}


/************************************************************************
CONTACT FORM
*************************************************************************/

.valid .text_input, .valid .text_area{border:1px solid #9AA600;} /*#70A41B*/
.error .text_input, .error .text_area{border:1px solid #FF6600;}
.ajax_alert .text_input, .ajax_alert .text_area{border:1px solid #ffb628;}


/************************************************************************
Shortcodes
*************************************************************************/

/*tabs and toggler and slider */
.js_active .entry .toggler{
background:url("../images/skin3/toggle.png") no-repeat scroll 6px 6px #FFFFFF;
border:1px solid #E1E1E1;
}

.js_active  #top .entry .activeTitle{
background: #eee url('../images/skin3/toggle.png') no-repeat 6px -77px ; 
border:1px solid #CCC;
}


.js_active .entry .tab_content{
background: #fff url("../images/bg_gradiant_stripe_top.png") repeat-x 0 0;
border:1px solid #E1E1E1;
color:#555;
}

.js_active .entry  .tab{
background:#fff;
border:1px solid #E1E1E1;
border-bottom: none;
}

.js_active #top .entry  .active_tab{
background:none repeat scroll 0 0 #E9ECF0;
color:#555555;
}

#top .entry .feature_wrap {
background: #fff url("../images/bg_gradiant_stripe_top.png") repeat-x 0 0;
border:1px solid #e1e1e1;
}

