@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular,bold&subset=latin);
body {
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: 'Yanone Kaffeesatz', arial, serif;
}
/*Inicio Header*/
#header_content {
	height: 150px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#header #header_content #logo {
	float: left;
	width: 200px;
}
#header #header_content .menu ul li {
	display: inline;
	height: 20px;
	width: 99px;
	list-style-type: none;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 16px;
	font-weight: 300;
	color: #666;
	text-decoration: none;
	margin-top: auto;
	float: left;
	margin-bottom: auto;
	top: 25px;
	background: #8CC6FF;
	background: -moz-linear-gradient(0% 100% 90deg,#C5E2FF, #8CC6FF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8CC6FF), to(#C5E2FF));
	border: 1px solid #C5E2FF;
	border-width: 1px 1px 0 1px;
	border-radius: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 1px 0 0 #C5E2FF;
	-moz-box-shadow: inset 0 1px 0 0 #C5E2FF;
	-webkit-box-shadow: inset 0 1px 0 0 #C5E2FF;
	line-height: 1;
	text-align: center;
	margin-right: 2px;
	margin-left: 2px;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 0;
}
#header #header_content .menu ul li:hover {
  background: #8CC6FF;
  background: -moz-linear-gradient(0% 100% 90deg,#8CC6FF, #C5E2FF);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C5E2FF), to(#8CC6FF));
}
#header #header_content .menu ul li:active {
  background: #8CC6FF;
  background: -moz-linear-gradient(0% 100% 90deg,#8CC6FF, #C5E2FF);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C5E2FF), to(#8CC6FF));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 2px 0 2px 0;
}
#header #header_content .menu {
	float: right;
	top: 0px;
	height: 50px;
}
#header #header_content #login {
	float: right;
	height: 50px;
	width: 575px;
	display: none;
}
.login_btn {
	color: #FFF;
	text-decoration: none;
        display:block;
        height:100%;
}
#header #header_content .menu ul li a{
	color: #FFF;
	text-decoration: none;
}
#header #header_content .menu ul .login, .enter {
	font-size: 20px;
	font-weight: 700;
	height: 30px;
	width: 175px;
	margin-top: -15px;
	display: inline;
	list-style-type: none;
	color: #666;
	text-decoration: none;
	background: #8CC6FF;
	background: -moz-linear-gradient(0% 100% 90deg,#8CC6FF, #3078FE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3078FE), to(#8CC6FF));
	border: 1px solid #8CC6FF;
	border-width: 1px 1px 0 1px;
	border-radius: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 1px 0 0 #8CC6FF;
	-moz-box-shadow: inset 0 1px 0 0 #8CC6FF;
	-webkit-box-shadow: inset 0 1px 0 0 #8CC6FF;
	line-height: 1;
	text-align: center;
	margin-right: 10px;
	margin-left: 2px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 7px;
}
#header #header_content #intro {
	font-size: 28px;
	font-weight: 300;
	color: #666;
	text-align: left;
	vertical-align: bottom;
	display: block;
	float: left;
	width: 250px;
	left: -200px;
	top: 90px;
	margin-left: 0px;
	position: relative;
}
#header #header_content #slider {
	background-color: #FF9;
	float: right;
	height: 250px;
	width: 700px;
	top: -165px;
	position: relative;
	right: 10px;
}
#header {
	background-image: url(../images/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 125px;
	width: 100%;
}
/* clean green (inspired by okcupid.com)
*******************************************************************************/
button.clean-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-width: 1px 1px 0 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

button.clean-green:hover {
  background: #5a962c;
  background: -moz-linear-gradient(0% 100% 90deg,#5a962c, #72ac45);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72ac45), to(#5a962c));
}

button.clean-green:active {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#7fbf4d, #63a62f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63a62f), to(#7fbf4d));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 8px 0 7px 0;
}
/*End button style*/
/*Fin Header*/
/*Inicio Main*/
#main {
	min-height: 350px;
	width: 100%;
	background-image: url(../images/bg_main.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#main #centralize {
        overflow: auto;
}
#main #centralize #leftbar {
	width: 25%;
	float: left;
}
#main #centralize #leftbar ul li {
        list-style-type: none;
}
#main #centralize #leftbar ul li a{
	font-weight: 300;
	color: #036;
	text-align: left;
	display: list-item;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	list-style-type: none;
	font-size: 24px;
	text-decoration: none;
	float: left;
	position: relative;
	left: -35px;
	width: 100%;
	height: 35px;
	margin-top: 12px;
}
#main #centralize #content {
	float: left;
	width: 75%;
	height: auto;
        overflow: visible;
}
#main #centralize #content h3 {
	font-size: 30px;
	font-weight: 400;
	color: #333;
	height: 35px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	float: left;
	position: relative;
	top: 0px;
}
.highlight {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}
/*Fin Main*/
/*Inicio Footer*/
#footer {
	background-image: url(../images/bg_footer.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	height: 150px;
	width: 100%;
}

#footer #centralize #footerbox {
	float: left;
	width: 250px;
}

#footer #centralize #footerbox li  {
	list-style-type: none;
}
#footer #centralize #footerbox li a{
	color: #333;
	text-decoration: none;
}
#footer #centralize #footerbox li a:hover{
	color: #333;
	text-decoration: underline;
}
#footer #centralize #footerbox li a:visited{
	color: #333;
	text-decoration: none;
}
#twitter_update_list{
	background-image: url(../images/bg_twstat.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 80px;
	width: 231px;
        list-style-type: none;
        padding-top: 12px;
        padding-left: 3px;
}
#legal {
	background-color: #666;
	height: 20px;
	width: 100%;
	color: #FFF;
	text-align: center;
}
/*Fin Footer*/


#boxes #dialog .close {
	float: right;
	height: 20px;
	width: 20px;
	position: relative;
	top: 5px;
	right: 5px;
}
#boxes #dialog #loginform {
	float: left;
	height: 230px;
	width: 45%;
	margin: 10px;
	font-size: 16px;
	font-weight: 200;
	color: #666;
}




#centralize{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}





/*Modal window*/
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
	width:700px;
	height:350px;
	background-image: url(../images/bg_modal.png);
	background-repeat: no-repeat;
	background-position: center center;
}
/*End Modal window*/

