@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular,bold&subset=latin);
body {
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: 'Yanone Kaffeesatz', arial, serif;
}
/*Inicio Header*/
#header_content {
	height: 400px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#header #header_content #logo {
	float: left;
	width: 200px;
        margin-top: 10px;
}
#header #header_content .menu ul li {
	display: inline;
	height: 20px;
	width: 99px;
	list-style-type: none;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 16px;
	font-weight: 300;
	color: #666;
	text-decoration: none;
	margin-top: auto;
	float: left;
	margin-bottom: auto;
	top: 25px;
	background: #8CC6FF;
	background: -moz-linear-gradient(0% 100% 90deg,#C5E2FF, #8CC6FF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8CC6FF), to(#C5E2FF));
	border: 1px solid #C5E2FF;
	border-width: 1px 1px 0 1px;
	border-radius: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 1px 0 0 #C5E2FF;
	-moz-box-shadow: inset 0 1px 0 0 #C5E2FF;
	-webkit-box-shadow: inset 0 1px 0 0 #C5E2FF;
	line-height: 1;
	text-align: center;
	margin-right: 2px;
	margin-left: 2px;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 0;
}
#header #header_content .menu ul li:hover {
  background: #8CC6FF;
  background: -moz-linear-gradient(0% 100% 90deg,#8CC6FF, #C5E2FF);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C5E2FF), to(#8CC6FF));
}
#header #header_content .menu ul li:active {
  background: #8CC6FF;
  background: -moz-linear-gradient(0% 100% 90deg,#8CC6FF, #C5E2FF);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C5E2FF), to(#8CC6FF));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 2px 0 2px 0;
}
#header #header_content .menu {
	float: right;
	top: 0px;
	height: 50px;
}
#header #header_content #login {
	float: right;
	height: 50px;
	width: 575px;
	display: none;
}
.login_btn {
	color: #FFF;
	text-decoration: none;
        display:block;
        height:100%;
}
#header #header_content .menu ul li a{
	color: #FFF;
	text-decoration: none;
}
#header #header_content .menu ul .login, .enter {
	font-size: 20px;
	font-weight: 700;
	height: 30px;
	width: 175px;
	margin-top: -15px;
	display: inline;
	list-style-type: none;
	color: #666;
	text-decoration: none;
	background: #8CC6FF;
	background: -moz-linear-gradient(0% 100% 90deg,#8CC6FF, #3078FE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3078FE), to(#8CC6FF));
	border: 1px solid #8CC6FF;
	border-width: 1px 1px 0 1px;
	border-radius: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 1px 0 0 #8CC6FF;
	-moz-box-shadow: inset 0 1px 0 0 #8CC6FF;
	-webkit-box-shadow: inset 0 1px 0 0 #8CC6FF;
	line-height: 1;
	text-align: center;
	margin-right: 10px;
	margin-left: 2px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 7px;
}
#header #header_content #intro {
	font-size: 28px;
	font-weight: 300;
	color: #666;
	text-align: left;
	vertical-align: bottom;
	display: block;
	float: left;
	width: 250px;
	left: -200px;
	top: 90px;
	margin-left: 0px;
	position: relative;
}
#header #header_content #slider {
	background-color: #FF9;
	float: right;
	height: 250px;
	width: 700px;
	top: -165px;
	position: relative;
	right: 10px;
}
#header {
	background-image: url(../images/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 340px;
	width: 100%;
}
/*Image Slider*/
#number_slideshow{
	line-height: 20px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 250px;
	width: 700px;
	overflow: hidden;
}
#number_slideshow2 {
	line-height: 20px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	position: relative;
	display: none;
	height: 250px;
	width: 700px;
	overflow: hidden;
	visibility: hidden;
}

.number_slideshow .number_slideshow_nav{
    filter: alpha(opacity=60);
    opacity: 0.6;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.number_slideshow .number_slideshow_nav li{
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-left: 6px;
    position: relative;
    float: left;
}
.number_slideshow .number_slideshow_nav li a{
    padding-left: 8px;
    padding-right: 8px;
}
.number_slideshow ul{
	margin: 0px;
	position: relative;
}
.number_slideshow ul li{
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	padding: 0px;
	margin: 0px;
	list-style: none;
	position: relative;
}
.number_slideshow ul li p{
    margin: 0px;
    position: absolute;
    top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    filter: alpha(opacity=60);
    opacity: 0.6;
    font-size: 13px;
    line-height: 23px;
}
.number_slideshow ul li a{
    text-decoration: none;
}
.number_slideshow ul li a img{
    border: none;
}
/*Fin Slideshow*/
/* clean green (inspired by okcupid.com)
*******************************************************************************/
button.clean-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-width: 1px 1px 0 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

button.clean-green:hover {
  background: #5a962c;
  background: -moz-linear-gradient(0% 100% 90deg,#5a962c, #72ac45);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72ac45), to(#5a962c));
}

button.clean-green:active {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#7fbf4d, #63a62f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63a62f), to(#7fbf4d));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 8px 0 7px 0;
}
/*End button style*/
/*Fin Header*/
/*Inicio Main*/
#main {
	height: 420px;
	width: 100%;
	background-image: url(../images/bg_main.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#main #latest{
	height: 50px;
	width: 100%;
	background-image: url(../images/latest.png);
	background-repeat: repeat-x;
	background-position: left bottom;
        float: left;
        position: relative;
        margin-top: -115px;
}
#main #latest #latest_title{
	font-size: 20px;
	font-weight: 400;
	color: #333;
	float: left;
	height: 50px;
	width: 200px;
	margin-top: 13px;
	margin-left: 15px;
	position:relative;
}
/*Latest Prom Ticker*/
#main #latest #latest_prom .tickercontainer {
	font-size: 20px;
	font-weight: 400;
	color: #333;
	float: left;
	height: 50px;
	width: 735px;
	margin-top: 5px;
	margin-left: 15px;
	overflow: hidden;
}
#main #latest #latest_prom .tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 10px;
	top: 0px;
	width: 715px;
	overflow: hidden;
}
#main #latest #latest_prom .tickercontainer ul.newsticker { /* that's your list */
	position: relative;
	left: 735px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
#main #latest #latest_prom .tickercontainer ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
}
#main #latest #latest_prom .tickercontainer ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #999;
	margin-top: 0;
	margin-right: 50px;
	margin-bottom: 0;
	margin-left: 0;
} 
#main #latest #latest_prom .tickercontainer ul.newsticker a:hover {
	color: #333;
} 
#main #latest #latest_prom .tickercontainer ul.newsticker span {
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
}
/*End*/
#register {
	float: right;
	height: 55px;
	width: 240px;
	right: 5px;
	bottom: 5px;
	position: absolute;
	font-size: 36px;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	margin-right: 3px;
	z-index: 10;
	list-style-type: none;
	color: #FFF;
	text-decoration: none;
	background: #990000;
	background: -moz-linear-gradient(0% 100% 90deg,#990000, #FF0000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF0000), to(#990000));
	border: 1px solid #990000;
	border-width: 1px 1px 0 1px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: inset 0 1px 0 0 #990000;
	-moz-box-shadow: inset 0 1px 0 0 #990000;
	-webkit-box-shadow: inset 0 1px 0 0 #990000;
	line-height: 1;
	text-align: center;
	margin-left: 2px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 7px;
}
#register:hover {
  background: #FF0000;
  background: -moz-linear-gradient(0% 100% 90deg,#FF0000, #990000);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C5990000E2FF), to(#FF0000));
}
#register:active {
  background: #FF0000;
  background: -moz-linear-gradient(0% 100% 90deg,#FF0000, #990000);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#990000), to(#FF0000));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 2px 0 2px 0;
}
 /* jQuery UI Tabs 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
 #main #tabs ul li #prom {
	background-image: url(../images/bg_tab_prom.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 495px;
        height: 70px;
	text-shadow: #666 1px 1px 1px;
}
#main #tabs ul li #adve {
	background-image: url(../images/bg_tab_adv.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 495px;
	color: #354953;
}
#tabs-2 {
    display: none;
}
.ui-tabs {
	position: relative;
	padding: .2em;
        top: -120px;
	zoom: 1;
        width: 100%;
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0em;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	position: relative;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
	height: 48px;
	width: 495px;
	margin: 0;
        z-index: 50;
        display: inline-block;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 36px;
	font-weight: 600;
	color: #FFF;
	text-decoration: none;
	width: 50%;
	padding-top: 0.1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 0px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: inline-block;
	border-width: 0;
	background-image: url(../images/bg_tab_box.png);
	height: 250px;
	padding-top: 0em;
	padding-right: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 0.4em;
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 100%;
}
.ui-tabs .ui-tabs-hide { display: none !important; }

.hometabtext {
    font-size: 20px;
    font-weight: 300;
    width: 60%;
    padding-top: 10px;
    padding-left: 10px;
    top: 0px;
    position: relative;
}
/*Fin Main*/
/*Inicio Footer*/
#footer {
	background-image: url(../images/bg_footer.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	height: 150px;
	width: 100%;
}

#footer #centralize #footerbox {
	float: left;
	width: 250px;
}

#footer #centralize #footerbox li  {
	list-style-type: none;
}
#footer #centralize #footerbox li a{
	color: #333;
	text-decoration: none;
}
#footer #centralize #footerbox li a:hover{
	color: #333;
	text-decoration: underline;
}
#footer #centralize #footerbox li a:visited{
	color: #333;
	text-decoration: none;
}
#twitter_update_list{
	background-image: url(../images/bg_twstat.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 80px;
	width: 231px;
        list-style-type: none;
        padding-top: 12px;
        padding-left: 3px;
}
#legal {
	background-color: #666;
	height: 20px;
	width: 100%;
	color: #FFF;
	text-align: center;
}
/*Fin Footer*/


#boxes #dialog .close {
	float: right;
	height: 20px;
	width: 20px;
	position: relative;
	top: 5px;
	right: 5px;
}
#boxes #dialog #loginform {
	float: left;
	height: 230px;
	width: 45%;
	margin: 10px;
	font-size: 16px;
	font-weight: 200;
	color: #666;
}




#centralize{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}





/*Modal window*/
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
} 
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
	width:700px;
	height:350px;
	background-image: url(../images/bg_modal.png);
	background-repeat: no-repeat;
	background-position: center center;
}
/*End Modal window*/

