
#content {
	margin: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#billboard {
	background-image: url(../images/billboard.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 510px;
	width: 780px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
	position:relative !important;
}

 #billboard #left {
	float: left;
	width: 315px;
	height: 370px;
	padding-top: 50px;
	padding-left: 57px;
	padding-bottom: 10px;
	padding-right: 15px;
	text-align: center;
	overflow: hidden;
}

 #billboard #right {
	float: left;
	width: 315px;
	height: 390px;
	padding-top: 35px;
	padding-right: 57px;
	padding-bottom: 10px;
	padding-left: 15px;
        overflow: hidden;
}
#billboard #right h2 {
	font-style: normal;
	color: #F00;
	font-weight:400;
	font-size:24px;
}
#billboard #right h3 {
	font-style: normal;
	color: #000;
	font-weight:400;
	font-size:24px;
        margin-top: -10px;
}
 #billboard #right #more {
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	background-image: url(../img/bg_gray.png);
	text-align: center;
	height: 25px;
}