@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular,bold&subset=latin);
body {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	background-color: #FFF;
	font-size: 18px;
        background-image: url(../images/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: left 150px;
}
.center {
	background-image: url(../img/bg_gradiant_stripe.png);
	background-repeat: repeat-x;
}

li {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 16px;
	color: #333;
	display: block;
	vertical-align: middle;
	line-height: 18px;
	list-style-type: none;
}
#user #sign_up_btn {
	text-align: right;
	float: right;
}

input {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 16px;
	color: #000;

}

.valid_msg {
    font-size: 11px;
    vertical-align: middle;
    color: red;
}
#head, #form {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

h3 {
	font-size: 30px;
	font-weight: 400;
	color: #333;
	height: 35px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	float: left;
	position: relative;
	top: 0px;
}
.formbox {
	font-family: "Yanone Kaffeesatz Regular";
	font-size: 20px;
	display: block;
	padding-left: 5px;
	list-style-type: none;
	width: 325px;
	height: 400px;
	padding-top: 0;
	background-image: url(../images/form_bck.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-weight: 300;
        float: left;
}
a {
    font-size: 14px;
    color: #34484E;
    text-decoration: none;
}
a:hover {
    font-size: 14px;
    color: #34484E;
    text-decoration: underline;
}


.formbox .bottom_links li a {
    font-size: 16px;
    line-height:1.2em;
}
.flash_error {
    clear:both;
    width: 400px;
    float: right;
    background: #FF6347;
    position: relative;
    top: 0px;
    right: 0px;
    color: white;
    font-weight: 300;
    padding-left: 30px;
    text-align: left;
    margin-bottom: 5px;
    list-style-type: none;
    height:auto;
    background-image: url(../images/Error-32.png);
    background-repeat: no-repeat;
    background-position: left center;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}
.flash_ok {
    clear:both;
    width: 400px;
    float: right;
    background: #63a62f;
    position: relative;
    top: 0px;
    right: 0px;
    color: white;
    font-weight: 300;
    padding-left: 30px;
    text-align: left;
    margin-bottom: 5px;
    list-style-type: none;
    height:auto;
    background-image: url(../images/Accept-32.png);
    background-repeat: no-repeat;
    background-position: left center;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}