<div id="error_msg">
  <% if params[:message] %>
    <div>
      <%= t params[:message] %>
    </div>
  <% end %>

  <div >
    <%= flash[:alert] || flash[:error] || flash[:notice]%>
  </div>

  <div id="error_detail">
    <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
    <% end %>
  </div>
</div>