<div id="error_msg">
  <% if params[:message] %>
    <div>
      <%= t params[:message] %>
    </div>
  <% end %>

  <div >
    <%= flash[:alert] || flash[:error] || flash[:notice]%>
  </div>

  <% if @user.errors.any? %>
    <div id="error_detail">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>