<% content_for :head do %>
  <title>¿Quiénes sómos? - Livechains</title>
<% end %>

<% content_for :header do %>
  <%= render :partial => "two_header" %>
<% end %>

<div id="main">
  <div id="centralize">
    <div id="leftbar">
      <ul>
        <li>Inicio</li>
        <li>¿Cómo funciona?</li>
        <li>Difusión social</li>
        <li>Esquema de negocio</li>
      </ul>
    </div>
    <div id="content"><h3>Beneficios</h3><ul>
        <li><strong>Seguimiento de tu red de contactos</strong><br />
          Probá y promocioná nuevos Productos y/o servicios</li>
        <li><strong>Opinión</strong><br />
          Se generador de opinión</li>
        <li><strong>Recompensas</strong></li>
        <li><strong>Seguridad</strong>.<br />
          Mantener la confidencialidad de datos es uno de los principios básicos de Live Chains, así<br />
          como también atacar el correo no deseado que pueda generarse por uso indebido de la<br />
          plataforma. Para ello Live Chains implementa las últimas tecnologías en el control de Spam<br />
          y en políticas de seguridad de la información.</li>
      </ul>
    </div>
  </div>
</div>