<% content_for :head do %>
<title>¿Quiénes sómos? - Tipdem</title>
<% end %>

<div id="highlights"></div>
<div id="detail">
 <div id="desc"><h1>Beneficios</h1><br /><br />
  <div style="width: 100%; float: left; margin-right: 10px;"><h2>Creador de Campañas</h2>
    <p>Puedes <strong>crear una campaña y difundirla</strong> entre tu grupo de contactos en <strong>sólo minutos</strong>.</p>
    <p><strong>  No</strong> necesitas <strong>instalar ninguna aplicación</strong> en tu PC.</p>
    <p> Puedes utilizar <strong>tu usuario de Twitter o Facebook</strong> para registrarte en <strong>TIPDEM</strong>&reg;.</p>
    <p> Puedes<strong> integrar tus campañas y acciones de marketing</strong> en redes sociales en una única herramienta.</p>
    <p> Podrás <strong>administrar el presupuesto</strong> total de tus campañas de manera clara y controlada.</p>
    <p> Dirige tus campañas al <strong>segmento de mercado</strong> que más te interese.</p>
    <p> Obtener el <strong>máximo potencial de influencia</strong> de tus Fans y seguidores entre sus amigos y grupos de influencia.</p>
    <p> Aumentar la <strong>lealtad y compromiso</strong> con la marca entre sus Comunidades Sociales.</p>
    <p> <strong>Promover e incrementar comportamiento de compra</strong> y adopción de la marca.<br /></p><br/><br/>
    <h3><% link_to :action => "p_funcionamiento" do %>¿Cómo funciona?<%end%></h3>
  </div>

</div>
<div id="campaing">
  <div id="text">
    <h3>Últimas campañas publicadas</h3>
  </div>
  <div class="btn">Ver más</div>
</div>
<div id="register"><%= link_to "Registrarse", new_user_registration_path %></div>
</div>