<% content_for :head do %>
  <title>¿Quiénes sómos? - Livechains</title>
<% end %>

<% content_for :header do %>
  <%= render :partial => "three_header" %>
<% end %>

<div id="main">
  <div id="centralize">
    <div id="leftbar">
  <ul>
    <li><% link_to :action => "home" do %>Inicio<% end %></li>
  </ul>
    </div>
    <div id="content"><h3>Campañas - FAQ's - Preguntas frecuentes</h3>
      <p><strong>1. Cuánto cuesta registrarse en Live Chains®?</strong></p>
<p>Registrase en <strong>Live Chains®</strong> y crear campañas estándar es completamente gratis. Además <strong>Live
  Chains®</strong> cuenta con planes pagos especiales en caso de necesitar herramientas de mayor
poder de análisis para las campañas.</p>
<p><strong>2. ¿Qué beneficios obtengo al utilizar Live Chains® para crear y promover mis campañas?</strong></p>
<p><strong>Live Chains®</strong> te permitirá difundir tus campañas de manera sencilla, gratis y con un gran
  impacto en las redes sociales más populares. Además podrás ver información detallada y<br />
centralizada del avance de la misma en único Panel de Control.</p>
<p><strong>3. ¿Cómo puedo crear mi campaña con Live Chains®?</strong></p>
<p>Para crear tu campaña tienes que seguir el asistente para la creación de campañas y en pocos
  minutos tendrás tu nueva campaña en línea. Para eso solamente tienes que realizar 4 sencillos
  pasos:</p>
<blockquote>
  <p> <strong>a)</strong> Elige los datos básicos de tu campaña (Nombre de la campaña, Descripción, Mensaje y
    Duración).<br />
    <strong>b)</strong> Define las recompensas para los Promotores.<br />
    <strong>c)</strong> Diseña la Página de Promoción de tu Campaña.<br />
    <strong>d)</strong> Avísale a tus amigos y conocidos a través de Twitter y Facebook… y listo!</p>
</blockquote>
<p><strong>4. ¿Cómo puedo ver el avance de mi campaña?</strong></p>
<p>Cada vez que ingreses con tu usuario y contraseña al sitio de <strong>Live Chains®</strong> podrás ver en el Panel
  de Control el detalle de cómo ha avanzado tu campaña y cuantos nuevos promotores se han
sumado para difundirla. Además podrás ver este detalle organizado por la red social o e-mail.</p>
<p><strong>5. ¿Qué es &quot;boca a boca&quot; o &quot;Word of Mouth&quot;?</strong></p>
<p>El &quot;boca a boca&quot; (&quot;Word of Mouth&quot; en inglés) está relacionado con la forma en que las
  personas comparten información de manera informal con el grupo de personas de su<br />
confianza.</p>
<p>Esta forma de contacto es muy habitual cuando una persona le recomienda a un amigo o
  conocido un producto que le gustó o un servicio que le resultó bueno.<br />
  Este es el concepto básico en el cual se soporta <strong>Live Chains®</strong>. Los promotores encuentran una
  campaña de su interés y la difunden con su grupo de amigos y conocidos. Estos, al recibirla
  de alguien de su confianza, le brindan mayor atención y saben que puede ser una campaña
interesante ya sea para recomendar o para ellos mismos.</p>
      </br><p></p>
    </div>
  </div>
</div>