<% content_for :header do %>
  <%= render :partial => "three_header" %>
<% end %>

<div id="main">
  <div id="centralize">
    <div id="leftbar">
      <ul>
        <li><% link_to :action => "home" do %>Inicio<% end %></li>
        <li><% link_to :action => "c_funcionamiento" do %>¿Cómo funciona?<% end %></li>
      </ul>
    </div>
    <div id="content"><h3>¿Qué es Live Chains?</h3>
      <p><strong>Live Chains®</strong> es un canal de difusión de campañas para tu grupo de contactos o
        referidos, basados en el concepto de comunicación boca a boca (Word of Mouth).</p>
      <p>Con <strong>Live Chains®</strong> podrás ya sea crear tu propia campaña y difundirla o recomendar
        otras campañas de tu interés en la principales redes sociales o vía e-mail y lo mejor que harás
        todo desde una única herramienta.</p>
      <p><strong>Como Creador de Campañas.</strong></p>
      <p>Puedes difundir lo que desees a través de <strong>Live Chains®</strong>, desde tu último CD, tu nuevo
        libro o una campaña para tu servicio de mensajería.</p>
      <p>Los usuarios de <strong>Live Chains®</strong> se convertirán en generadores de opinión al recomendar
        las campañas de su interés a su grupo de contactos vía e-mail, Facebook y Twitter.</p>
      <p>Cuando un referido tuyo se encuentra con tu campaña, la recomienda a su red de
        contactos. A medida que sus contactos se van sumando a esta cadena y recomiendan tu campaña, tu referido obtiene un incentivo. Si alguno de ellos además se interesa en conocer
        más acerca tu campaña, los incentivos de tu referido aumentan. Cuantos más contactos y
        referidos se sumen a través de sus recomendaciones, más incentivos obtendrá.</p>
      <p>Este sistema de recomendaciones boca a boca te ayudará a potenciar el mensaje de tu
        campaña y llegar a más personas. Con <strong>Live Chains®</strong> contarás con una poderosa herramienta
        que te permitirá conocer el detalle de quienes están difundiendo tu campaña y ayudándote a
        hacerla exitosa.</p>
      <p><strong>Como Promotor de Campañas.</strong></p>
      <p>En <strong>Live Chains®</strong> puedes encontrar campañas que sean de tu interés y difundirlas a tus
        amigos y conocidos totalmente gratis.</p>
      <p>Los usuarios de <strong>Live Chains®</strong> se convertirán en generadores de opinión al recomendar
        las campañas de su interés a su grupo de contactos vía e-mail, Facebook y Twitter.</p>
      <p>Cuando un amigo o conocido tuyo se encuentra con la campaña que tú le enviaste, la
        recomienda a su red de contactos. A medida que sus contactos también se van sumando a esta
        cadena y recomiendan dicha campaña, vas sumando más beneficios.</p>
      <p>Si además alguna de las personas en esta cadena se interesa en conocer más acerca
        de la campaña, tu recompensa aumenta. Cuantos más referidos se sumen a través de tus<br />
        recomendaciones, más incentivos obtendrás.</p>
      <p>¡Luego puedes acceder a tus recompensas!</p><br><br>
    </div>
  </div>
</div>