<% content_for :header do %>
  <%= render :partial => "three_header" %>
<% end %>

<div id="main">
<div id="centralize">
<div id="leftbar">
  <ul>
    <li><% link_to :action => "home" do %>Inicio<% end %></li>
  </ul>
</div>
<div id="content"><h3>¿Quiénes somos?</h3>
<p><strong>El Equipo.</strong></p>
<p>En <strong>Live Chains®</strong> creemos que la diversidad es la clave para conformar un buen equipo que
permita tener bajo control todos los aspectos posibles para entregar un servicio de excelencia.</p>
<p>Por ello hemos conformado un equipo de profesionales de diferentes áreas en la que cada uno
  pueda aportar los aspectos destacados y relevantes su área de injerencia, con el objetivo de
lograr la mejor plataforma de recomendación de campañas.</p>
<p>La pasión por lo que hacemos nos mantiene enfocados en nuestro principal motivador que son
  nuestros usuarios y clientes.</p>
<p>El equipo de <strong>Live Chains®</strong> es conformado por:</p>
<blockquote>
  <p><strong>Alex</strong>: Relaciones Comerciales en Estados Unidos.<br />
    <strong>Eugenio</strong>: Diseño Gráfico y Usabilidad del Sitio.<br />
    <strong>Martin</strong>: Desarrollo de Producto y Asesoramiento Técnico.<br />
    <strong>Matías</strong>:  Desarrollo de la Plataforma e Infraestructura Tecnológica.<br />
    <strong>Pablo</strong>: Contenido y Relaciones Comerciales en Argentina.<br />
    <strong>Cecilia</strong>:  Asesoramiento en Desarrollo de Producto.</p>
</blockquote><br/><br/><br/><br/><br/>
</div>
</div>
</div>