<% content_for :head do %>
  <title>Preguntas frecuentes - Tipdem</title>
<% end %>

<% content_for :header do %>
  <%= render :partial => "two_header" %>
<% end %>

<div id="highlights"></div>
    <div id="detail">
   		<div id="desc"><h1>FAQ's - Preguntas frecuentes</h1><br /><br />
                  <h2>Promotores</h2>
<div class="msg_list">
      <p class="msg_head"><strong>1. ¿Cuánto cuesta registrarse en Live Chains®?</strong></p>
<div class="msg_body"><p>Registrarse en <strong>Live Chains®</strong> en completamente gratis, recomendar campañas también es
    gratuito y todas las funciones que como promotor necesites utilizar.</p></div>
<p class="msg_head"><strong>2. ¿Qué beneficios obtengo al registrarme en Live Chains®?</strong></p>
<div class="msg_body"><p>Al recomendar las campañas de <strong>Live Chains®</strong>, podrás recibir una gran variedad de beneficios
  en relación a la cantidad de contactos que se vayan sumando y como tu red vaya difundiendo
  la campaña.</p></div>
<p class="msg_head"><strong>3. ¿Qué diferencias hay en utilizar Live Chains® en lugar de otra herramienta en la cual pueda comentarles a mis amigos acerca de una campaña?</strong></p>
<div class="msg_body"><p>  Utilizando <strong>Live Chains®</strong> no solo serás referente entre tus amigos y conocidos comentándole
  acerca de una campaña que les puede resultar interesante o de utilidad, sino que obtendrás
  una recompensa por ello. Cuantos más amigos y conocidos contactes, más beneficios sumarás
  a tu cuenta. Además si alguno de ellos obtiene información adicional acerca de la campaña tus
  beneficios se multiplicarán.</p></div>
<p class="msg_head"><strong>4. ¿Cómo puedo difundir las campañas de mi interés entre mis amigos y conocidos?</strong></p>
<div class="msg_body"><p>La forma de difundir campañas utilizando <strong>Live Chains®</strong> es muy simple:</p>
<blockquote>
  <p>    • Registrate en <strong>Live Chains®</strong> y convierte en promotor.<br />
    • Comentales a tus amigos y conocidos acerca de la campaña de tu interés a través de
    Twitter, Facebook o e-mail. Puedes usar una o las tres formas de comunicación.<br />
    • Realiza el seguimiento de tus recomendaciones desde el panel de control de <strong>Live Chains®</strong> para conocer cómo tus amigos fueron difundiendo el mensaje de la campaña
    que les enviaste.</p>
</blockquote></div>
<p class="msg_head"><strong>5. ¿Cómo puedo acceder a mis recompensas?</strong></p>
<div class="msg_body"><p>Cada vez que ingreses con tu usuario y contraseña al sitio de <strong>Live Chains®</strong> podrás ver las
  recompensas a las cuales puedes acceder. Las recompensas están relacionadas al tipo de
  campaña que estés promocionando.</p></div>
<p class="msg_head"><strong>6. ¿Qué es &quot;boca a boca&quot; o &quot;Word of Mouth&quot;?</strong></p>
<div class="msg_body"><p>El &quot;boca a boca&quot; (&quot;Word of Mouth&quot; en inglés) está relacionado con la forma en que las
  personas comparten información de manera informal con el grupo de su confianza.</p>
<p>Esta forma de contacto es muy habitual cuando una persona le recomienda a un amigo o
  conocido un producto que le gustó o un servicio que le resultó bueno.</p>
<p>Este es el concepto básico en el cual se soporta Live Chains®. Los promotores encuentran una
  campaña de su interés y la difunden con su grupo de amigos y conocidos. Estos, al recibirla
  de alguien de su confianza, le brindan mayor atención y saben que puede ser una campaña
interesante ya sea para recomendar o para ellos mismos.</p></div>
</div>
                  <h2>Campañas</h2>
                  <div class="msg_list">
      <p class="msg_head"><strong>1. Cuánto cuesta registrarse en Live Chains®?</strong></p>
<div class="msg_body"><p>Registrase en <strong>Live Chains®</strong> y crear campañas estándar es completamente gratis. Además <strong>Live
  Chains®</strong> cuenta con planes pagos especiales en caso de necesitar herramientas de mayor
  poder de análisis para las campañas.</p></div>
<p class="msg_head"><strong>2. ¿Qué beneficios obtengo al utilizar Live Chains® para crear y promover mis campañas?</strong></p>
<div class="msg_body"><p><strong>Live Chains®</strong> te permitirá difundir tus campañas de manera sencilla, gratis y con un gran
  impacto en las redes sociales más populares. Además podrás ver información detallada y<br />
  centralizada del avance de la misma en único Panel de Control.</p></div>
<p class="msg_head"><strong>3. ¿Cómo puedo crear mi campaña con Live Chains®?</strong></p>
<div class="msg_body"><p>Para crear tu campaña tienes que seguir el asistente para la creación de campañas y en pocos
  minutos tendrás tu nueva campaña en línea. Para eso solamente tienes que realizar 4 sencillos
  pasos:</p>
<blockquote>
  <p> <strong>a)</strong> Elige los datos básicos de tu campaña (Nombre de la campaña, Descripción, Mensaje y
    Duración).<br />
    <strong>b)</strong> Define las recompensas para los Promotores.<br />
    <strong>c)</strong> Diseña la Página de Promoción de tu Campaña.<br />
    <strong>d)</strong> Avísale a tus amigos y conocidos a través de Twitter y Facebook… y listo!</p>
</blockquote></div>
<p class="msg_head"><strong>4. ¿Cómo puedo ver el avance de mi campaña?</strong></p>
<div class="msg_body"><p>Cada vez que ingreses con tu usuario y contraseña al sitio de <strong>Live Chains®</strong> podrás ver en el Panel
  de Control el detalle de cómo ha avanzado tu campaña y cuantos nuevos promotores se han
  sumado para difundirla. Además podrás ver este detalle organizado por la red social o e-mail.</p></div>
<p class="msg_head"><strong>5. ¿Qué es &quot;boca a boca&quot; o &quot;Word of Mouth&quot;?</strong></p>
<div class="msg_body"><p>El &quot;boca a boca&quot; (&quot;Word of Mouth&quot; en inglés) está relacionado con la forma en que las
  personas comparten información de manera informal con el grupo de personas de su<br />
confianza.</p>
<p>Esta forma de contacto es muy habitual cuando una persona le recomienda a un amigo o
  conocido un producto que le gustó o un servicio que le resultó bueno.<br />
  Este es el concepto básico en el cual se soporta <strong>Live Chains®</strong>. Los promotores encuentran una
  campaña de su interés y la difunden con su grupo de amigos y conocidos. Estos, al recibirla
  de alguien de su confianza, le brindan mayor atención y saben que puede ser una campaña
  interesante ya sea para recomendar o para ellos mismos.</p></div>
    </div>
                </div>
    <div id="campaing">
        <div id="text">
        <h3>Últimas campañas publicadas</h3>
        </div>
        <div class="btn">Ver más</div>
        </div>
        <div id="register"><%= link_to "Registrarse", new_user_registration_path %></div>
    </div>

<script type="text/javascript">
$(document).ready(function()
{
  //hide the all of the element with class msg_body
  $(".msg_body").hide();
  //toggle the componenet with class msg_body
  $(".msg_head").click(function()
  {
    $(this).next(".msg_body").slideToggle(600);
  });
});
</script>