<% content_for :header do %>
  <%= render :partial => "two_header" %>
<% end %>

<div id="highlights"></div>
<div id="detail">
  <div id="desc"><h1>¿Qué es TIPDEM?</h1>
    <p><span class="high">TIPDEM®</span> es un <span class="high">canal de difusión y gestión de campañas</span>, basado en el concepto de comunicación boca a boca (Word of Mouth) creado con el objetivo de ayudar a los Creadores de acciones de Comunicación y Marketing a <span class="high">medir el valor de sus campañas en medios sociales</span> y así <span class="high">dimensionar el retorno de su inversión.</span> </p>
    <p><h2>Equipo</h2></p>
    <p><span class="high">En TIPDEM® creemos que la diversidad es la clave</span> para conformar un buen equipo que permita tener bajo control todos los aspectos posibles <span class="high">para entregar un servicio de excelencia.</span></p>
    <p>La pasión por lo que hacemos nos mantiene enfocados en nuestro principal motivador que son nuestros usuarios y clientes</p>
    <!--
    <p>Puedes difundir lo que desees a través de <strong>Live Chains®</strong>, desde tu último CD, tu nuevo
      libro o una campaña para tu servicio de mensajería.</p>
    <p>Los usuarios de <strong>Live Chains®</strong> se convertirán en generadores de opinión al recomendar
      las campañas de su interés a su grupo de contactos vía e-mail, Facebook y Twitter.</p>
    <p>Cuando un referido tuyo se encuentra con tu campaña, la recomienda a su red de
      contactos. A medida que sus contactos se van sumando a esta cadena y recomiendan tu campaña, tu referido obtiene un incentivo. Si alguno de ellos además se interesa en conocer
      más acerca tu campaña, los incentivos de tu referido aumentan. Cuantos más contactos y
    referidos se sumen a través de sus recomendaciones, más incentivos obtendrá.</p>
    <p>Este sistema de recomendaciones boca a boca te ayudará a potenciar el mensaje de tu
      campaña y llegar a más personas. Con <strong>Live Chains®</strong> contarás con una poderosa herramienta
      que te permitirá conocer el detalle de quienes están difundiendo tu campaña y ayudándote a
    hacerla exitosa.</p>
    <p><h2>Como Promotor de Campañas.</h2></p>
    <p>En <strong>Live Chains®</strong> puedes encontrar campañas que sean de tu interés y difundirlas a tus
      amigos y conocidos totalmente gratis.</p>
    <p>Los usuarios de <strong>Live Chains®</strong> se convertirán en generadores de opinión al recomendar
      las campañas de su interés a su grupo de contactos vía e-mail, Facebook y Twitter.</p>
    <p>Cuando un amigo o conocido tuyo se encuentra con la campaña que tú le enviaste, la
      recomienda a su red de contactos. A medida que sus contactos también se van sumando a esta
    cadena y recomiendan dicha campaña, vas sumando más beneficios.</p>
    <p>Si además alguna de las personas en esta cadena se interesa en conocer más acerca de la campaña, tu recompensa aumenta. Cuantos más referidos se sumen a través de tus
    recomendaciones, más incentivos obtendrás.</p>
    <p>¡Luego puedes acceder a tus recompensas!</p><br/><br/>-->
  </div>
  <div id="campaing">
    <div id="text">
      <h3>Últimas campañas publicadas</h3>
    </div>
    <div class="btn">Ver más</div>
  </div>
  <div id="register"><%= link_to "Registrarse", new_user_registration_path %></div>
</div>