<% content_for :head do %>
  <title>¿Quiénes sómos? - Tipdem</title>
<% end %>

<% content_for :header do %>
  <%= render :partial => "two_header" %>
<% end %>

<div id="highlights"></div>
<div id="detail">
  <div id="desc">
    <h1>Términos y Condiciones Generales</h1>
    <%= t("terms_and_conditions") %>
    <br />
    <br />
  
  </div>
  <%= render :partial => "last_campaigns", :locals => {:last_campaigns => @last_campaigns} %>
  <div id="register"><%= link_to "Registrarse", new_user_registration_path %></div>
</div>